*,
*:after,
*:before
  margin 0
  padding 0
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box


// Set the width of the grid */
.row
  width 100%
  margin 0 auto
  max-width 2140px
  *zoom 1


// Attribute selector */
//[class*='mobile-'],
//[class*='tablet-'],
//[class*='large-']
[class*='col-']
  float left
//padding 0.3em


// Floats last ".col-" to the right */
//[class*='desktop-']:last-of-type,
//[class*='mobile-']:last-of-type,
//[class*='tablet-']:last-of-type,
//[class*='large-']:last-of-type
//  float right


// Clearfix */
.row:before,.row:after
  content ""
  display table

.row:after
  clear both


// @media (min-width: 768px) {
//   .container {
//     width: 750px;
//   }
// }

//@media (min-width: 992px) {
//  .container {
//    width: 970px;
//  }
//}

//@media (min-width: 1200px) {
//  .container {
//    width: 1170px;
//  }
//}


// Inspired from http://davidwalsh.name/stylus-grid */

// grid and site dimensions */
//grid-increment-desktop = 80px
//grid-increment-tablet = 60px
//grid-increment-mobile = grid-increment-tablet

//grid-min-desktop = 60px
//grid-min-tablet = 40px
//grid-min-mobile = grid-start-tablet

//grid-max-desktop = 940px
//grid-max-tablet = 700px
//grid-max-mobile = 280px
//grid-max-mobile-wide = 400px



//width-desktop = 1024px
//site-width-tablet = 760px
//site-width-mobile = 320px
//site-width-wide = 480px

// media query dimensions */
//media-query-tablet = 'only screen and (min-width: 760px) and (max-width: 1000px)'
//media-query-mobile = 'only screen and (max-width: 760px)'
//media-query-mobile-wide = 'only screen and (min-width: 480px) and (max-width: 760px)'

// Smartphones (portrait and landscape)  //480 should be max ...but during resize some area is blank...now not
media-mobile = ' only screen and (min-width : 320px) and (max-width : 768px)'
// iPads (portrait and landscape)
media-tablet = ' only screen and (min-width : 768px) and (max-width : 960px)'
// Desktops and laptops
media-desktop = ' only screen and (min-width : 960px)'
// Large screens
media-large = ' only screen and (min-width : 1200px)'
// eXtra Large screens
media-xlarge = ' only screen and (min-width : 1440px)'

//width-xxlarge = 1940px
width-xlarge = 1440px
width-large = 1200px
width-desktop = 960px
width-tablet = 740px
width-mobile = 440px



generate-grid(column,wide)

  .row
    width wide

  [class*={column}-]
    float left

  for n,x in (1..12)
    x= x + 1
    .{column}-{(x)} , .col-{(x)}
      width ( 100 * (x / 12 ) )%

//default columns
//.row
//  width 1200px
//generate-grid('desktop')

// Tablet Layout - 320px - 480px
@media media-mobile
  generate-grid('mobile',width-mobile)

// Tablet Layout - 768px - 1024px
@media media-tablet
  generate-grid('tablet',width-tablet)

// Default look
// Desktop Layout - 1024px - 1440px
@media media-desktop
  generate-grid('desktop',width-desktop)

// Large Layout - 1440px - 1824px
@media media-large
  generate-grid( 'large',width-large)

// Remove comments to support extra large screens
// Desktop Layout - 1440px - 1824px
//@media media-xlarge
//  .row
//    width 2100px
//  generate-grid('xlarge')
