/*   GRID
 *   
 *   Apache 2.0 License
 *   - Yash, Speedovation.org
 */
 
 
// generate-base(name, prop, index = 1)  
//     .{name}
//         {prop}  :  columnWidth * index;
        
//     if(index < columns )
//         generate-base(name, prop, index + 1) 

generate-grid(name, index = 1)  
    .{name}-{index}
        width: columnWidth * index
        
    if(index < columns )
        generate-grid(name,index + 1)

            

generate-offset(name, index = 1)  
    .{name}-offset-{index}
        margin-left: columnWidth * index
        
    if(index < columns )
        generate-offset(name,index + 1)            
        

generate-pull(name, index = 1)  
    // d = {name}-pull-{index}
    // generate-base(d, "right")
    .{name}-pull-{index}
        right: columnWidth * index
        
    if(index < columns )
        generate-pull(name,index + 1) 

       
       