
//Credit : Kraken v3.1  by Chris Ferdinandi on http://gomakethings.com under MIT License.

.hidden
  display none

.half
  width 50%  

.text-small
  font-size 0.9375rem

.text-tall
  font-size 1.1875rem
  line-height 1.4

.text-muted
  color gray

.text-right
  text-align right

.text-center
  text-align center

.text-left
  text-align left

.float-left
  float left

.float-center
  float none
  margin-left auto
  margin-right auto

.float-right
  float right

.no-space
  margin 0
  padding 0

.no-space-bottom
  margin-bottom 0
  padding-bottom 0

.no-space-top
  margin-top 0
  padding-top 0

.space-bottom
  margin-bottom 2rem

.space-bottom-small
  margin-bottom 0.5rem
  padding-bottom 0

.space-top
  padding-top 0.8125rem

.screen-reader 
  left -9999em
  position absolute
  top -9999em


.grid > [class*="w-"]
  float left
  padding-left 2%

.grid:before,.grid:after 
  content: " ";
  display: table;

.grid:after 
  clear: both;
  

.w-5     { width: 5% }
.w-10    { width:10% }
.w-12    { width:12.5% }     /* 1/8 */
.w-15    { width:15% }
.w-20    { width:20% }
.w-25    { width:25% }       /* 1/4 */
.w-30    { width:30% }
.w-33    { width:33.333% }   /* 1/3 */
.w-35    { width:35% }
.w-37    { width:37.5% }     /* 3/8 */
.w-40    { width:40% }
.w-45    { width:45% }
.w-50    { width:50% }       /* 1/2 */
.w-55    { width:55% }
.w-60    { width:60% }
.w-62    { width:62.5% }     /* 5/8 */
.w-65    { width:65% }
.w-66    { width:66.666% }   /* 2/3 */
.w-70    { width:70% }
.w-75    { width:75% }       /* 3/4*/
.w-80    { width:80% }
.w-85    { width:85% }
.w-87    { width:87.5% }     /* 7/8 */
.w-90    { width:90% }
.w-95    { width:95% }