
//Credit : Kraken v3.1  by Chris Ferdinandi on http://gomakethings.com under MIT License.

.text-small
  font-size 0.9375rem

.text-tall
  font-size 1.1875rem
  line-height 1.4

.text-muted
  color gray

.text-right
  text-align right

.text-center
  text-align center

.text-left
  text-align left

.float-left
  float left

.float-center
  float none
  margin-left auto
  margin-right auto

.float-right
  float right

.no-space
  margin 0
  padding 0

.no-space-bottom
  margin-bottom 0
  padding-bottom 0

.no-space-top
  margin-top 0
  padding-top 0

.space-bottom
  margin-bottom 2rem

.space-bottom-small
  margin-bottom 0.5rem
  padding-bottom 0

.space-top
  padding-top 0.8125rem
