dummy(col) {
  colors: col;
}
table.default {
  border-collapse: separate;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
table.default a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
table.default a:visited {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}
table.default a:active,
table.default a:hover {
  color: #bd5a35;
  text-decoration: underline;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
table.default tr:nth-child(2n) td {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left #fff, left #fff, color-stop(0, #fff), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(#fff, #fff, #fff);
  background-image: -moz-linear-gradient(#fff, #fff, #fff);
  background-image: -ms-linear-gradient(#fff, #fff, #fff);
  background-image: -o-linear-gradient(#fff, #fff, #fff);
  background-image: linear-gradient(#fff, #fff, #fff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left #f8f8f8, left #f6f6f6, color-stop(0, #f8f8f8), color-stop(1, #f6f6f6));
  background-image: -webkit-linear-gradient(#f8f8f8, #f8f8f8, #f6f6f6);
  background-image: -moz-linear-gradient(#f8f8f8, #f8f8f8, #f6f6f6);
  background-image: -ms-linear-gradient(#f8f8f8, #f8f8f8, #f6f6f6);
  background-image: -o-linear-gradient(#f8f8f8, #f8f8f8, #f6f6f6);
  background-image: linear-gradient(#f8f8f8, #f8f8f8, #f6f6f6);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
}
table.default th {
  padding: 7px 0;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  padding-left: 20px;
  border-left: 1px solid #e0e0e0;
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left #ededed, left #ebebeb, color-stop(0, #ededed), color-stop(1, #ebebeb));
  background-image: -webkit-linear-gradient(#ededed, #ededed, #ebebeb);
  background-image: -moz-linear-gradient(#ededed, #ededed, #ebebeb);
  background-image: -ms-linear-gradient(#ededed, #ededed, #ebebeb);
  background-image: -o-linear-gradient(#ededed, #ededed, #ebebeb);
  background-image: linear-gradient(#ededed, #ededed, #ebebeb);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
}
table.default th:first-child {
  border-left: 0px solid #e0e0e0;
}
table.default tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
table.default tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
table.default td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
table.default td {
  padding: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left #fbfbfb, left #fafafa, color-stop(0, #fbfbfb), color-stop(1, #fafafa));
  background-image: -webkit-linear-gradient(#fbfbfb, #fbfbfb, #fafafa);
  background-image: -moz-linear-gradient(#fbfbfb, #fbfbfb, #fafafa);
  background-image: -ms-linear-gradient(#fbfbfb, #fbfbfb, #fafafa);
  background-image: -o-linear-gradient(#fbfbfb, #fbfbfb, #fafafa);
  background-image: linear-gradient(#fbfbfb, #fbfbfb, #fafafa);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
}
table.default tr:last-child td {
  border-bottom: 0;
}
table.default tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
table.default tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
table {
  *border-collapse: collapse;
/* IE7 and lower */
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2rem;
}
table.bordered {
  border: solid #ddd 1px;
  -webkit-box-shadow: 0 1px 1px #eee;
  -moz-box-shadow: 0 1px 1px #eee;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
table.bordered td:first-child,
table.bordered th:first-child {
  border-left: none !important;
}
table.bordered td,
table.bordered th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 0px solid #ddd !important;
  padding: 10px;
  text-align: left;
}
table.bordered th {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left #f7f7f7, left #f7f7f7, color-stop(0, #f7f7f7), color-stop(1, #f7f7f7));
  background-image: -webkit-linear-gradient(#f7f7f7, #f7f7f7, #f7f7f7);
  background-image: -moz-linear-gradient(#f7f7f7, #f7f7f7, #f7f7f7);
  background-image: -ms-linear-gradient(#f7f7f7, #f7f7f7, #f7f7f7);
  background-image: -o-linear-gradient(#f7f7f7, #f7f7f7, #f7f7f7);
  background-image: linear-gradient(#f7f7f7, #f7f7f7, #f7f7f7);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')";
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
table.hover tr:hover {
  background: #fafafa !important;
  -o-transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  transition: all;
}
.table {
  overflow-x: scroll;
  overflow-y: hidden;
}
.table td,
.table th {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.table th {
  text-align: left;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.table tfoot td {
  border-bottom: 0;
  border-top: 1px solid #fff;
  background-color: #f1f1f1;
}
table.zebra th {
  border-bottom: 1px solid #ccc;
}
table.zebra tbody tr:nth-child(even) {
  background: #fafafa;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
table.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table.rounded th:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table.rounded th:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table.rounded th:only-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
table.rounded tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table.rounded tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
@media untilmobile {
  .table,
  .table thead:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
/* sort out borders */
  }
  .table .table table,
  .table thead:after .table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .table .table th,
  .table thead:after .table th,
  .table .table td,
  .table thead:after .table td {
    margin: 0;
    vertical-align: top;
  }
  .table .table th,
  .table thead:after .table th {
    text-align: left;
  }
  .table .table table,
  .table thead:after .table table {
    display: block;
    position: relative;
    width: 100%;
  }
  .table .table thead,
  .table thead:after .table thead {
    display: block;
    float: left;
  }
  .table .table tbody,
  .table thead:after .table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table .table thead tr,
  .table thead:after .table thead tr {
    display: block;
  }
  .table .table th,
  .table thead:after .table th {
    display: block;
    text-align: right;
  }
  .table .table tbody tr,
  .table thead:after .table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  .table .table td,
  .table thead:after .table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  .table .table th,
  .table thead:after .table th {
    border-bottom: 0;
    border-left: 0;
  }
  .table .table td,
  .table thead:after .table td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .table .table tbody tr,
  .table thead:after .table tbody tr {
    border-left: 1px solid #ddd;
  }
  .table .table th:last-child,
  .table thead:after .table th:last-child,
  .table .table td:last-child,
  .table thead:after .table td:last-child {
    border-bottom: 1px solid #ddd;
  }
}
