
.grid
  .row
    .desktop-12.tablet-6.mobile-3
      nav
        .menu-button
            i.i-bars1
        
        .flexnav.opacity.lg-screen(data-breakpoint='800')
          h4 Super Active Responsive framework
          ul
            li
              a(href='home.html') Home

            li.item-with-ul
              a(href='javascript://;')  Design
                i.i-chevron-down  

              ul
                li
                  a(href='typography.html') Typography
                li
                  a(href='icons.html') Icons

            li
              a(href='javascript://;') UI Components
                i.i-chevron-down 
              ul
              
                li
                  a(href='grid.html') Grid
                li
                  a(href='tables.html') Tables
                li
                  a(href='forms.html') Forms
                li
                  a(href='buttons.html') Buttons
                
                
                li
                  a(href='tooltips.html') Tooltips
                li
                  a(href='messages.html') Messages
                li
                  a(href='badge.html') Badges  
                li
                  a(href='thumbnail.html') Thumbnail 

                li
                  a(href='navbar.html') Navbar
                li
                  a(href='nav.html') Nav
                li
                  a(href='subnav.html') Subnav
                li
                  a(href='panel.html') Panel  
                li
                  a(href='breadcrumb.html') Breadcrumb 
                li
                  a(href='pagination.html') Pagination
                li
                  a(href='progress.html') Progress
                li
                  a(href='search.html') Search          

                  
              

            li
              a(href='javascript://;') Js Components
                i.i-chevron-down 
              ul
                li
                  a(href='tabs.html') Tabs & Accordions
                li
                  a(href='herotabs.html') Hero Tabs & Sliders 
                li
                  a(href='sliders.html') Sliders
                li
                  a(href='sidemenu.html') SideMenu   
                li
                  a(href='colorpicker.html') ColorPicker
                li
                  a(href='modal.html') Modal
                li
                  a(href='datepicker.html') DateTime Picker   
            li
              a(href='javascript://;') About
                i.i-chevron-down 
              ul
                li
                  a(href='about-framework.html') Framework
                li
                  a(href='about-team.html') Team
                li
                  a(href='about-credit.html') Credit
                li
                  a(href='about-license.html') Licences



.hidden.preview-template.preview-wrap 
  ul.resp-tabs-list
    li Example Preview
    li Html Code
  .resp-tabs-container
    div
      .preview
      
        
    div
      pre.markup
        code.language-markup
