!!! 5
html
  head
    title Buttons Demo

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(rel="icon", href="/img/favicon1.png")

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', type='text/css')

    link(rel='stylesheet', href='../css/normalize.css', type='text/css' )
    link(rel='stylesheet', href='../css/base.css', type='text/css' )

    link(rel='stylesheet', href='../css/grid/grid.css', type='text/css' )
    link(rel='stylesheet', href='../css/grid/grid-12.css', type='text/css' )

    link(rel='stylesheet', href='../css/buttons/buttons.css', type='text/css' )

      
  body
    
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example
          
          h1.welcome Welcome in Superactive . Relax , We've already done it for you 
      
          h2 Buttons Demo
          p  Simple CSS3 buttons to give your application a smooth feel.
            
          .demo-button  
            h3 Regular
            a(href="#" ,class="button") Normal button
        
          .demo-button
            h3 Positive      
            a(href="#",class="button positive") Create something
          
          .demo-button
            h3 Negative
            a(href="#", class="button negative") Delete something
          
          .demo-button
            h3 Pill
            a(href="#", class="button pill") Pill button
          
          .demo-button
            h3 Dark
            a(href="#", class="button dark") Normal dark
        
          .demo-button
            h3 Disabled</h3>
            a(href="#" ,class="button disabled") Disabled

          .demo-button
            h3 Combined buttons
            a(href="#",class="button left") Left button
            a(href="#",class="button middle") Middle button
            a(href="#",class="button right") Right button
      