!!! 5
html
  head
    title Buttons Demo

    include header

    link(rel='stylesheet', href='../css/tables/table.css', type='text/css' )
    link(rel='stylesheet', href='../css/tables/tables.css', type='text/css' )  
    link(rel='stylesheet', href='../css/buttons/buttons.css', type='text/css' )

      
  body
    
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example
          
          h1.welcome Welcome in Superactive . Relax , We've already done it for you 
      
          h2 Buttons Demo
          p  Simple CSS3 buttons to give your application a smooth feel.

          table.bordered
            thead
              tr
                th Button
                th
                th Description
            tbody
              tr
                td
                  button(href="#" ,class="button") Default
                td
                 code btn
                td Standard gray button with gradient
              
              tr
                td
                 button(href="#" ,class="button primary") Primary
                td
                 code btn btn-primary
                td Provides extra visual weight and identifies the primary action in a set of buttons
              
              tr
                td
                 button(href="#" ,class="button btn-info") Info
                td
                 code btn btn-info
                td Used as an alternative to the default styles
              
              tr
                td
                 button(href="#" ,class="button positive") Success
                td
                 code btn btn-success
                td Indicates a successful or positive action
              
              tr
                td
                 button(href="#" ,class="btn btn-warning") Warning
                td
                 code btn btn-warning
                td Indicates caution should be taken with this action
              
              tr
                td
                 button(href="#" ,class="btn btn-danger") Danger
                td
                 code btn btn-danger
                td Indicates a dangerous or potentially negative action
              
              tr
                td
                 button(href="#" ,class="btn btn-inverse") Inverse 
                td
                 code btn btn-inverse
                td Alternate dark gray button, not tied to a semantic action or use
              

            
          .demo-button  
            h3 Regular
            a(href="#" ,class="button") Normal button

          
          .demo-button
            h3 Positive      
            a(href="#",class="button positive") Create something
          
          .demo-button
            h3 Negative
            a(href="#", class="button negative") Delete something
          
          .demo-button
            h3 Pill
            a(href="#", class="button pill") Pill button
          
          .demo-button
            h3 Dark
            a(href="#", class="button dark") Normal dark
        
          .demo-button
            h3 Disabled</h3>
            a(href="#" ,class="button disabled") Disabled

          .demo-button
            h3 Combined buttons
            a(href="#",class="button left") Left button
            a(href="#",class="button middle") Middle button
            a(href="#",class="button right") Right button
      