!!! 5
html
  head
    title Buttons Demo

    include header

    link(rel='stylesheet', href='../css/buttons/buttons.css', type='text/css' )
    link(rel='stylesheet', href='../css/forms/form.css', type='text/css' )

      
  body
    
    .grid
      
      form.row
          .field
              input(class="input desktop-12" type="text" placeholder="Text input")

          .field
              input(class="input desktop-12" type="text" placeholder="Text input")
              
          .field
              input( class="input desktop-12" type="email" placeholder="Email input")
             
          .field
              input( class="input desktop-12" type="password" placeholder="Password input")
             
          .field
              textarea( class="input  textarea desktop-12" placeholder="Textarea")

      form.row
        .field
            input(class="input desktop-12" type="text" placeholder="Text input")

        .field
            input(class="input desktop-6" type="text" placeholder="Text input")
            input(class="input desktop-6" type="text" placeholder="Text input")  

        .field
            input(class="input desktop-4" type="text" placeholder="Text input")
            input(class="input desktop-4" type="text" placeholder="Text input")  
            input(class="input desktop-4" type="text" placeholder="Text input")      
  
        
        .field
            input( class="input desktop-12" type="email" placeholder="Email input")
           
         
           
