!!! 5
html
  head
    title Buttons Demo

    include header

    link(rel='stylesheet', href='../css/buttons/buttons.css', type='text/css' )
    link(rel='stylesheet', href='../css/forms/form.css', type='text/css' )

      
  body

    include nav

    mixin select()
      div(class=" select-style desktop-4")
          select
            option( value="volvo") VolvO
            option( value="saab") Saab
            option( value="mercedes") Mercedes
            option( value="audi") Audi

    
    .grid
      //pre
      //  code Some text and some code here
      
      .row
        +select()
        +select()
        +select()
        


      form.row
          .field
              input(class="input desktop-12" type="text" placeholder="Text input")

          .field
              input(class="input desktop-12" type="text" placeholder="Text input")
              
          .field
              input( class="input desktop-12" type="email" placeholder="Email input")
             
          .field
              input( class="input desktop-12" type="password" placeholder="Password input")
             
          .field
              textarea( class="input  textarea desktop-12" placeholder="Textarea")

      form.row
        
        .field
            input(class="input desktop-6" type="text" placeholder="Text input")
            input(class="input desktop-6" type="text" placeholder="Text input")  

        .field
            input(class="input desktop-4" type="text" placeholder="Text input")
            input(class="input desktop-4" type="text" placeholder="Text input")  
            input(class="input desktop-4" type="text" placeholder="Text input")      
      
        .field
            label(for="text1" class="inline desktop-4") Label 1
            input(class="input desktop-8" type="text" placeholder="Text input")

        .field
            label(for="text1" class="inline desktop-4") Label 2
            input(class="input desktop-8" type="text" placeholder="Text input")

        fieldset
          legend Fieldset with legend
        
          .field
            label( for="text1" class="inline") Label 1
            input( class="input desktop-12" type="email" placeholder="Email input")
          
          .field
            input( class="input desktop-12" type="email" placeholder="Email input")
             
         
           
