!!! 5
html
  head
    title Buttons Demo

    include header

    link(rel='stylesheet', href='../css/buttons/buttons.css', type='text/css' )
    link(rel='stylesheet', href='../css/forms/form.css', type='text/css' )

      
  body
    
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example
          ul
            li(class="field")
              input(class="input" type="text" placeholder="Text input")

            li(class="field")
              input(class="input" type="text" placeholder="Text input")
              
    
          
            li(class="field")
              input( class="input" type="email" placeholder="Email input")
             
            li(class="field")
              input( class="input" type="password" placeholder="Password input")
             
            li(class="field")
              textarea( class="input textarea" placeholder="Textarea")

        ul.desktop-12
          li(class="field")
            input(class="input desktop-12" type="text" placeholder="Text input")

          li(class="field")
            input(class="input desktop-6" type="text" placeholder="Text input")
            input(class="input desktop-6" type="text" placeholder="Text input")  
  
        
          li(class="field")
            input( class="input" type="email" placeholder="Email input")
           
         
           
