!!! 5
html
  head
    title Getting Started

    include header

  body

    include _nav
   
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example

          h1 Getting started
          p Basic download links for production and development versions

          h2 Engineered 
          p We engineered world's best lightweight responsive framework

          h2 Download
          p Download links

          h2 Examples
          p 
           | These are live sites and live demos of respective owners. 
           | I just used here for demo purpose only. Only html part is picked and modified as per our responsive framework.

          
             
          p 
            span.badge.badge-danger Hot
            |  We are showcasing all examples for faster learning and real implementation. 
            | We've tried not to use any extra css possible while cloning any template to show 
            | the real power of framework, although you may find very few external css also. 
            | This will show the power of new promising framework.

          
          ul.link-list.w-45
            li
              
              a(href='../../examples/layouts/cms.html') 
                h4 Live Site Clone Demo 
                | CMS
            li
              a(href='../../examples/layouts/marketing.html')
                h4 Pure CSS Template Clone
                | Marketing Template
            
            li
              a(href='../../examples/layouts/theme.html') 
                h4 Bootstrap Theme Template Clone
                | Theme Template

            li
              a(href='../../examples/layouts/simple.html') 
                h4 Bootstrap Example Clone
                | Simple Site Template
            
            li
              a(href='../../examples/layouts/sliders.html') sliders
            
            li
              a(href='../../examples/layouts/yepnopejs.html') yepnopejs
        
        p 
          span.badge Note 
          |  Live Site Examples can used for educational purpose only. 
          | Everything else is under MIT license. Rudra Icons and Fonts are under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>

