!!! 5
html
  head
    title Getting Started

    include header

  body

    include _nav
   
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example

            h1 Getting started
            p Basic download links for production and development versions

            h2 Download
            p Download links

            h2 Examples
            p Showcase all examples for faster learning and real implementation