!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    
    title Rudra Font Icons - Speedovation Responsive framework
  
    include header
    link(rel='stylesheet', href='../font/rudra.css', type='text/css' )   

  body

    include _nav

    .grid
      .row

        div.desktop-12

          - var icons = ['i-Adjustment' , 'i-Align-center' , 'i-Align-justify' , 'i-Align-left' , 'i-Align-right' , 'i-Ambulence' , 'i-android' , 'i-archieve' , 'i-arrow-down-circle' , 'i-arrow-down' , 'i-arrow-h' , 'i-arrow-left-circle' , 'i-arrow-left' , 'i-arrow-right-circle' , 'i-arrow-right' , 'i-arrow-up-circle' , 'i-arrow-up' , 'i-arrow-v' , 'i-asterisk' , 'i-backward' , 'i-banned-1' , 'i-banned-alt' , 'i-banned' , 'i-bar-chart' , 'i-bars' , 'i-bars1' , 'i-battery' , 'i-battery1' , 'i-battery2' , 'i-battery3' , 'i-bell' , 'i-bit-bucket-blk' , 'i-bit-bucket' , 'i-bold' , 'i-bolt' , 'i-book' , 'i-box' , 'i-building-new' , 'i-building' , 'i-building1' , 'i-bulb-alt' , 'i-bulb-o' , 'i-bulb' , 'i-bull-eye' , 'i-Bull-horn' , 'i-calander-alt' , 'i-calander' , 'i-camera' , 'i-caret-down' , 'i-caret-left' , 'i-caret-right' , 'i-caret-square-down' , 'i-caret-square-left' , 'i-caret-square-right' , 'i-caret-square-up' , 'i-caret-up' , 'i-certificate' , 'i-certificate1' , 'i-certificate3' , 'i-check-circle-o' , 'i-check-circle' , 'i-check-square-o' , 'i-check-square' , 'i-chevron-circle-down' , 'i-chevron-circle-right' , 'i-chevron-circle-up' , 'i-chevron-circleleft' , 'i-chevron-down' , 'i-chevron-left' , 'i-chevron-right' , 'i-chevron-up' , 'i-clipboard' , 'i-clock' , 'i-close-circle-o' , 'i-close-circle' , 'i-close-square-o' , 'i-close-square' , 'i-close' , 'i-cloud-download' , 'i-cloud-upload' , 'i-cloud' , 'i-cofee' , 'i-cog' , 'i-comment-o' , 'i-comment' , 'i-comments' , 'i-compass' , 'i-compress' , 'i-credit-card' , 'i-crop' , 'i-cup' , 'i-dashboard' , 'i-desktop' , 'i-double-arrow-down' , 'i-double-arrow-left' , 'i-double-arrow-right' , 'i-double-arrow-top' , 'i-download' , 'i-edit' , 'i-enevelop' , 'i-exclamation-alt' , 'i-exclamation-circle-ALT' , 'i-exclamation-circle' , 'i-exclamation-square' , 'i-exclamation-triangle-alt' , 'i-exclamation-triangle' , 'i-exclamation' , 'i-expand' , 'i-face-angry' , 'i-face-sad-1' , 'i-face-sad-2' , 'i-face-sad-alt' , 'i-face-sad' , 'i-face-smile' , 'i-favourite-1' , 'i-favourite-alt' , 'i-favourite-o' , 'i-favourite' , 'i-female' , 'i-flag-alt' , 'i-flag-design-alt' , 'i-flag-design' , 'i-flag-o-alt' , 'i-flag-o' , 'i-flag' , 'i-folder-close' , 'i-folder-open' , 'i-folder' , 'i-forward' , 'i-funnel' , 'i-gear' , 'i-gears' , 'i-gift-box-1' , 'i-gift-box' , 'i-glass' , 'i-headphone-alt' , 'i-headphone' , 'i-heart-1' , 'i-heart-o' , 'i-heart' , 'i-home-64' , 'i-home-alt' , 'i-inbox-alt' , 'i-inbox' , 'i-info-circle' , 'i-info-square' , 'i-info' , 'i-jpeg-1' , 'i-jpeg' , 'i-key' , 'i-keyboard' , 'i-laptop' , 'i-leaf' , 'i-legal' , 'i-leve-1l' , 'i-level-2' , 'i-level-3' , 'i-level-down' , 'i-level-up' , 'i-level' , 'i-lock-open' , 'i-lock' , 'i-long-arrow-down' , 'i-long-arrow-left' , 'i-long-arrow-right' , 'i-long-arrow-up' , 'i-magic-wand' , 'i-magic-wand1' , 'i-magnet' , 'i-male' , 'i-mark-up' , 'i-microfone' , 'i-minus-circle' , 'i-minus-square' , 'i-minus' , 'i-monitor' , 'i-next-double-arrow' , 'i-pause' , 'i-Pen' , 'i-pencil' , 'i-phone-1' , 'i-phone-banned' , 'i-phone-banned1' , 'i-phone' , 'i-pie-chrt' , 'i-play' , 'i-plus-circle' , 'i-plus-suare' , 'i-plus' , 'i-power' , 'i-search' , 'i-shield-64' , 'i-shocked-alt' , 'i-shocked' , 'i-shopping-cart' , 'i-sign-in' , 'i-sign-out' , 'i-signal' , 'i-sort' , 'i-spiner-alt' , 'i-spiner' , 'i-sticky-tilt' , 'i-sticky' , 'i-sun' , 'i-tablet' , 'i-tag-alt' , 'i-tag-cut' , 'i-tags-alt' , 'i-tags' , 'i-terminal' , 'i-thums-down' , 'i-thumsup' , 'i-tick-alt' , 'i-tick' , 'i-traffic-signal' , 'i-trash' , 'i-trophy-64' , 'i-upload' , 'i-user-profile' , 'i-vehical' , 'i-video-camera' , 'i-wernch' , 'i-wrench']


          h1.divide-section 
            | Rudra Icons  
            span.text-muted.text-small Total icons are 
                =icons.length

          ul.block
            each val in icons
              li 
                  span(title = "#{val}",class="show-icon")
                    i(class="#{val} size-64") 
                    span.icon-name #{val} 
            

           p.divide-section         
          



