!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    
    title rudra glyphs preview
  
    include header
    link(rel='stylesheet', href='../font/rudra.css', type='text/css' )   

  body

    include _nav

    .grid
      .row

        div.desktop-12

          - var icons = ['i-Adjustment' , 'i-Align-center' , 'i-Align-justify' , 'i-Align-left' , 'i-Align-right' , 'i-Ambulence' , 'i-android' , 'i-archieve' , 'i-arrow-down-circle' , 'i-arrow-down' , 'i-arrow-h' , 'i-arrow-left-circle' , 'i-arrow-left' , 'i-arrow-right-circle' , 'i-arrow-right' , 'i-arrow-up-circle' , 'i-arrow-up' , 'i-arrow-v' , 'i-asterisk' , 'i-backward' , 'i-banned' , 'i-bar-chart' , 'i-bars' , 'i-bars1' , 'i-bell' , 'i-bit-bucket-blk' , 'i-bit-bucket' , 'i-bold' , 'i-bolt' , 'i-book' , 'i-building-new' , 'i-building' , 'i-building1' , 'i-bull-eye' , 'i-Bull-horn' , 'i-calander-alt' , 'i-calander' , 'i-camera' , 'i-caret-down' , 'i-caret-left' , 'i-caret-right' , 'i-caret-square-down' , 'i-caret-square-left' , 'i-caret-square-right' , 'i-caret-square-up' , 'i-caret-up' , 'i-certificate' , 'i-certificate1' , 'i-certificate3' , 'i-chevron-circle-down' , 'i-chevron-circle-right' , 'i-chevron-circle-up' , 'i-chevron-circleleft' , 'i-chevron-down' , 'i-chevron-left' , 'i-chevron-right' , 'i-chevron-up' , 'i-clipboard' , 'i-clock' , 'i-cloud-download' , 'i-cloud-upload' , 'i-cloud' , 'i-cofee' , 'i-comment-o' , 'i-comment' , 'i-comments' , 'i-compass' , 'i-compress' , 'i-credit-card' , 'i-crop' , 'i-cup' , 'i-desktop' , 'i-double-arrow-down' , 'i-double-arrow-left' , 'i-double-arrow-right' , 'i-double-arrow-top' , 'i-download' , 'i-enevelop' , 'i-exclamation-alt' , 'i-exclamation-circle-ALT' , 'i-exclamation-circle' , 'i-exclamation-square' , 'i-exclamation-triangle-alt' , 'i-exclamation-triangle' , 'i-exclamation' , 'i-expand' , 'i-favourite-1' , 'i-favourite-alt' , 'i-favourite-o' , 'i-favourite' , 'i-female' , 'i-forward' , 'i-glass' , 'i-home-64' , 'i-lock-open' , 'i-lock' , 'i-male' , 'i-monitor' , 'i-next-double-arrow' , 'i-pause' , 'i-Pen' , 'i-pie-chrt' , 'i-play' , 'i-power' , 'i-shield-64' , 'i-sun' , 'i-tick-alt' , 'i-tick' , 'i-trophy-64']

          h1.divide-section 
            | Rudra Icons  
            span.text-muted.text-small Total icons are 
                =icons.length

          ul.block
            each val in icons
              li 
                  span(title = "#{val}",class="show-icon")
                    i(class="#{val} size-32") 
                    span.icon-name #{val} 
            

           p.divide-section         
          



