!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    
    title rudra glyphs preview
    style
      /* Page Styles */
      * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      }
      body {
      background: #fff;
      color: #444;
      font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      a,
      a:visited {
      color: #888;
      text-decoration: underline;
      }
      a:hover,
      a:focus { color: #000; }
      header {
      border-bottom: 2px solid #ddd;
      margin-bottom: 20px;
      overflow: hidden;
      padding: 20px 0;
      }
      header h1 {
      color: #888;
      float: left;
      font-size: 36px;
      font-weight: 300;
      }
      header a {
      float: right;
      font-size: 14px;
      }
      .container {
      margin: 0 auto;
      max-width: 1200px;
      min-width: 960px;
      padding: 0 40px;
      width: 90%;
      }
      .glyph {
      border-bottom: 1px dotted #ccc;
      padding: 10px 0 20px;
      margin-bottom: 20px;
      }
      .preview-glyphs { vertical-align: bottom; }
      .preview-scale {
      color: #888;
      font-size: 12px;
      margin-top: 5px;
      }
      .step {
      display: inline-block;
      line-height: 1;
      position: relative;
      width: 10%;
      }
      .step .letters,
      .step i {
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
      }
      .step:hover .letters { opacity: 1; }
      .step:hover i { opacity: .3; }
      .letters {
      opacity: .3;
      position: absolute;
      }
      .characters-off .letters { display: none; }
      .characters-off .step:hover i { opacity: 1; }
      .size-12 { font-size: 12px; }
      .size-14 { font-size: 14px; }
      .size-16 { font-size: 16px; }
      .size-18 { font-size: 18px; }
      .size-21 { font-size: 21px; }
      .size-24 { font-size: 24px; }
      .size-36 { font-size: 36px; }
      .size-48 { font-size: 48px; }
      .size-60 { font-size: 60px; }
      .size-72 { font-size: 72px; }
      .usage { margin-top: 10px; }
      .usage input {
      font-family: monospace;
      margin-right: 3px;
      padding: 2px 5px;
      text-align: center;
      }
      .usage .point { width: 150px; }
      .usage .class { width: 250px; }
      footer {
      color: #888;
      font-size: 12px;
      padding: 20px 0;
      }
      /* Icon Font: rudra */
      @font-face {
      font-family: "rudra";
      src: url("./rudra_e3b637378ad73d90510c10fe8406f758.eot");
      src: url("./rudra_e3b637378ad73d90510c10fe8406f758.eot?#iefix") format("embedded-opentype"),
      url("./rudra_e3b637378ad73d90510c10fe8406f758.woff") format("woff"),
      url("./rudra_e3b637378ad73d90510c10fe8406f758.ttf") format("truetype"),
      url("./rudra_e3b637378ad73d90510c10fe8406f758.svg#rudra") format("svg");
      font-weight: normal;
      font-style: normal;
      }
      [data-icon]:before { content: attr(data-icon); }
      [data-icon]:before,
      .i-Adjustment:before,
      .i-Align-center:before,
      .i-Align-justify:before,
      .i-Align-left:before,
      .i-Align-right:before,
      .i-Ambulence:before,
      .i-android:before,
      .i-archieve:before,
      .i-backward:before,
      .i-bar-chart:before,
      .i-bars:before,
      .i-bars1:before,
      .i-bell:before,
      .i-bit-bucket-blk:before,
      .i-bit-bucket:before,
      .i-bold:before,
      .i-bolt:before,
      .i-book:before,
      .i-building:before,
      .i-building1:before,
      .i-bull-eye:before,
      .i-Bull-horn:before,
      .i-calander:before,
      .i-camera:before,
      .i-caret-down:before,
      .i-caret-left:before,
      .i-caret-right:before,
      .i-caret-square-down:before,
      .i-caret-square-left:before,
      .i-caret-square-right:before,
      .i-caret-square-up:before,
      .i-caret-up:before,
      .i-certificate:before,
      .i-clipboard:before,
      .i-clock:before,
      .i-cloud-download:before,
      .i-cloud-upload:before,
      .i-cloud:before,
      .i-crop:before,
      .i-enevelop:before,
      .i-forward:before,
      .i-glass:before,
      .i-home-64:before,
      .i-pause:before,
      .i-Pen:before,
      .i-pie-chrt:before,
      .i-play:before,
      .i-shield-64:before,
      .i-trophy-64:before {
      font-family: "rudra";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
      }
      .i-Adjustment:before { content: "\f100"; }
      .i-Align-center:before { content: "\f101"; }
      .i-Align-justify:before { content: "\f102"; }
      .i-Align-left:before { content: "\f103"; }
      .i-Align-right:before { content: "\f104"; }
      .i-Ambulence:before { content: "\f105"; }
      .i-android:before { content: "\f106"; }
      .i-archieve:before { content: "\f107"; }
      .i-backward:before { content: "\f108"; }
      .i-bar-chart:before { content: "\f109"; }
      .i-bars:before { content: "\f10a"; }
      .i-bars1:before { content: "\f10b"; }
      .i-bell:before { content: "\f10c"; }
      .i-bit-bucket-blk:before { content: "\f10d"; }
      .i-bit-bucket:before { content: "\f10e"; }
      .i-bold:before { content: "\f10f"; }
      .i-bolt:before { content: "\f110"; }
      .i-book:before { content: "\f111"; }
      .i-building:before { content: "\f112"; }
      .i-building1:before { content: "\f113"; }
      .i-bull-eye:before { content: "\f114"; }
      .i-Bull-horn:before { content: "\f115"; }
      .i-calander:before { content: "\f116"; }
      .i-camera:before { content: "\f117"; }
      .i-caret-down:before { content: "\f118"; }
      .i-caret-left:before { content: "\f119"; }
      .i-caret-right:before { content: "\f11a"; }
      .i-caret-square-down:before { content: "\f11b"; }
      .i-caret-square-left:before { content: "\f11c"; }
      .i-caret-square-right:before { content: "\f11d"; }
      .i-caret-square-up:before { content: "\f11e"; }
      .i-caret-up:before { content: "\f11f"; }
      .i-certificate:before { content: "\f120"; }
      .i-clipboard:before { content: "\f121"; }
      .i-clock:before { content: "\f122"; }
      .i-cloud-download:before { content: "\f123"; }
      .i-cloud-upload:before { content: "\f124"; }
      .i-cloud:before { content: "\f125"; }
      .i-crop:before { content: "\f126"; }
      .i-enevelop:before { content: "\f127"; }
      .i-forward:before { content: "\f128"; }
      .i-glass:before { content: "\f129"; }
      .i-home-64:before { content: "\f12a"; }
      .i-pause:before { content: "\f12b"; }
      .i-Pen:before { content: "\f12c"; }
      .i-pie-chrt:before { content: "\f12d"; }
      .i-play:before { content: "\f12e"; }
      .i-shield-64:before { content: "\f12f"; }
      .i-trophy-64:before { content: "\f130"; }
    //if lte IE 8
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script
      function toggleCharacters() {
      var body = document.getElementsByTagName('body')[0];
      body.className = body.className === 'characters-off' ? '' : 'characters-off';
      }
 

    include header
    link(rel='stylesheet', href='../font/font.css', type='text/css' )   

  body

    include _nav

    .grid
      .row

        div.desktop-12

          h1.divide-section Icons




            h1 rudra contains 49 glyphs:
            a(onclick='toggleCharacters(); return false;', href='#') Toggle Preview Characters
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Adjustment
              span.step.size-14
                span.letters Pp
                i.i-Adjustment
              span.step.size-16
                span.letters Pp
                i.i-Adjustment
              span.step.size-18
                span.letters Pp
                i.i-Adjustment
              span.step.size-21
                span.letters Pp
                i.i-Adjustment
              span.step.size-24
                span.letters Pp
                i.i-Adjustment
              span.step.size-36
                span.letters Pp
                i.i-Adjustment
              span.step.size-48
                span.letters Pp
                i.i-Adjustment
              span.step.size-60
                span.letters Pp
                i.i-Adjustment
              span.step.size-72
                span.letters Pp
                i.i-Adjustment
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Adjustment')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf100;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Align-center
              span.step.size-14
                span.letters Pp
                i.i-Align-center
              span.step.size-16
                span.letters Pp
                i.i-Align-center
              span.step.size-18
                span.letters Pp
                i.i-Align-center
              span.step.size-21
                span.letters Pp
                i.i-Align-center
              span.step.size-24
                span.letters Pp
                i.i-Align-center
              span.step.size-36
                span.letters Pp
                i.i-Align-center
              span.step.size-48
                span.letters Pp
                i.i-Align-center
              span.step.size-60
                span.letters Pp
                i.i-Align-center
              span.step.size-72
                span.letters Pp
                i.i-Align-center
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Align-center')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf101;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Align-justify
              span.step.size-14
                span.letters Pp
                i.i-Align-justify
              span.step.size-16
                span.letters Pp
                i.i-Align-justify
              span.step.size-18
                span.letters Pp
                i.i-Align-justify
              span.step.size-21
                span.letters Pp
                i.i-Align-justify
              span.step.size-24
                span.letters Pp
                i.i-Align-justify
              span.step.size-36
                span.letters Pp
                i.i-Align-justify
              span.step.size-48
                span.letters Pp
                i.i-Align-justify
              span.step.size-60
                span.letters Pp
                i.i-Align-justify
              span.step.size-72
                span.letters Pp
                i.i-Align-justify
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Align-justify')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf102;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Align-left
              span.step.size-14
                span.letters Pp
                i.i-Align-left
              span.step.size-16
                span.letters Pp
                i.i-Align-left
              span.step.size-18
                span.letters Pp
                i.i-Align-left
              span.step.size-21
                span.letters Pp
                i.i-Align-left
              span.step.size-24
                span.letters Pp
                i.i-Align-left
              span.step.size-36
                span.letters Pp
                i.i-Align-left
              span.step.size-48
                span.letters Pp
                i.i-Align-left
              span.step.size-60
                span.letters Pp
                i.i-Align-left
              span.step.size-72
                span.letters Pp
                i.i-Align-left
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Align-left')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf103;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Align-right
              span.step.size-14
                span.letters Pp
                i.i-Align-right
              span.step.size-16
                span.letters Pp
                i.i-Align-right
              span.step.size-18
                span.letters Pp
                i.i-Align-right
              span.step.size-21
                span.letters Pp
                i.i-Align-right
              span.step.size-24
                span.letters Pp
                i.i-Align-right
              span.step.size-36
                span.letters Pp
                i.i-Align-right
              span.step.size-48
                span.letters Pp
                i.i-Align-right
              span.step.size-60
                span.letters Pp
                i.i-Align-right
              span.step.size-72
                span.letters Pp
                i.i-Align-right
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Align-right')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf104;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Ambulence
              span.step.size-14
                span.letters Pp
                i.i-Ambulence
              span.step.size-16
                span.letters Pp
                i.i-Ambulence
              span.step.size-18
                span.letters Pp
                i.i-Ambulence
              span.step.size-21
                span.letters Pp
                i.i-Ambulence
              span.step.size-24
                span.letters Pp
                i.i-Ambulence
              span.step.size-36
                span.letters Pp
                i.i-Ambulence
              span.step.size-48
                span.letters Pp
                i.i-Ambulence
              span.step.size-60
                span.letters Pp
                i.i-Ambulence
              span.step.size-72
                span.letters Pp
                i.i-Ambulence
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Ambulence')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf105;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-android
              span.step.size-14
                span.letters Pp
                i.i-android
              span.step.size-16
                span.letters Pp
                i.i-android
              span.step.size-18
                span.letters Pp
                i.i-android
              span.step.size-21
                span.letters Pp
                i.i-android
              span.step.size-24
                span.letters Pp
                i.i-android
              span.step.size-36
                span.letters Pp
                i.i-android
              span.step.size-48
                span.letters Pp
                i.i-android
              span.step.size-60
                span.letters Pp
                i.i-android
              span.step.size-72
                span.letters Pp
                i.i-android
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-android')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf106;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-archieve
              span.step.size-14
                span.letters Pp
                i.i-archieve
              span.step.size-16
                span.letters Pp
                i.i-archieve
              span.step.size-18
                span.letters Pp
                i.i-archieve
              span.step.size-21
                span.letters Pp
                i.i-archieve
              span.step.size-24
                span.letters Pp
                i.i-archieve
              span.step.size-36
                span.letters Pp
                i.i-archieve
              span.step.size-48
                span.letters Pp
                i.i-archieve
              span.step.size-60
                span.letters Pp
                i.i-archieve
              span.step.size-72
                span.letters Pp
                i.i-archieve
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-archieve')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf107;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-backward
              span.step.size-14
                span.letters Pp
                i.i-backward
              span.step.size-16
                span.letters Pp
                i.i-backward
              span.step.size-18
                span.letters Pp
                i.i-backward
              span.step.size-21
                span.letters Pp
                i.i-backward
              span.step.size-24
                span.letters Pp
                i.i-backward
              span.step.size-36
                span.letters Pp
                i.i-backward
              span.step.size-48
                span.letters Pp
                i.i-backward
              span.step.size-60
                span.letters Pp
                i.i-backward
              span.step.size-72
                span.letters Pp
                i.i-backward
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-backward')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf108;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bar-chart
              span.step.size-14
                span.letters Pp
                i.i-bar-chart
              span.step.size-16
                span.letters Pp
                i.i-bar-chart
              span.step.size-18
                span.letters Pp
                i.i-bar-chart
              span.step.size-21
                span.letters Pp
                i.i-bar-chart
              span.step.size-24
                span.letters Pp
                i.i-bar-chart
              span.step.size-36
                span.letters Pp
                i.i-bar-chart
              span.step.size-48
                span.letters Pp
                i.i-bar-chart
              span.step.size-60
                span.letters Pp
                i.i-bar-chart
              span.step.size-72
                span.letters Pp
                i.i-bar-chart
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bar-chart')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf109;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bars
              span.step.size-14
                span.letters Pp
                i.i-bars
              span.step.size-16
                span.letters Pp
                i.i-bars
              span.step.size-18
                span.letters Pp
                i.i-bars
              span.step.size-21
                span.letters Pp
                i.i-bars
              span.step.size-24
                span.letters Pp
                i.i-bars
              span.step.size-36
                span.letters Pp
                i.i-bars
              span.step.size-48
                span.letters Pp
                i.i-bars
              span.step.size-60
                span.letters Pp
                i.i-bars
              span.step.size-72
                span.letters Pp
                i.i-bars
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bars')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf10a;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bars1
              span.step.size-14
                span.letters Pp
                i.i-bars1
              span.step.size-16
                span.letters Pp
                i.i-bars1
              span.step.size-18
                span.letters Pp
                i.i-bars1
              span.step.size-21
                span.letters Pp
                i.i-bars1
              span.step.size-24
                span.letters Pp
                i.i-bars1
              span.step.size-36
                span.letters Pp
                i.i-bars1
              span.step.size-48
                span.letters Pp
                i.i-bars1
              span.step.size-60
                span.letters Pp
                i.i-bars1
              span.step.size-72
                span.letters Pp
                i.i-bars1
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bars1')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf10b;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bell
              span.step.size-14
                span.letters Pp
                i.i-bell
              span.step.size-16
                span.letters Pp
                i.i-bell
              span.step.size-18
                span.letters Pp
                i.i-bell
              span.step.size-21
                span.letters Pp
                i.i-bell
              span.step.size-24
                span.letters Pp
                i.i-bell
              span.step.size-36
                span.letters Pp
                i.i-bell
              span.step.size-48
                span.letters Pp
                i.i-bell
              span.step.size-60
                span.letters Pp
                i.i-bell
              span.step.size-72
                span.letters Pp
                i.i-bell
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bell')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf10c;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-14
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-16
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-18
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-21
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-24
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-36
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-48
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-60
                span.letters Pp
                i.i-bit-bucket-blk
              span.step.size-72
                span.letters Pp
                i.i-bit-bucket-blk
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bit-bucket-blk')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf10d;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bit-bucket
              span.step.size-14
                span.letters Pp
                i.i-bit-bucket
              span.step.size-16
                span.letters Pp
                i.i-bit-bucket
              span.step.size-18
                span.letters Pp
                i.i-bit-bucket
              span.step.size-21
                span.letters Pp
                i.i-bit-bucket
              span.step.size-24
                span.letters Pp
                i.i-bit-bucket
              span.step.size-36
                span.letters Pp
                i.i-bit-bucket
              span.step.size-48
                span.letters Pp
                i.i-bit-bucket
              span.step.size-60
                span.letters Pp
                i.i-bit-bucket
              span.step.size-72
                span.letters Pp
                i.i-bit-bucket
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bit-bucket')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf10e;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bold
              span.step.size-14
                span.letters Pp
                i.i-bold
              span.step.size-16
                span.letters Pp
                i.i-bold
              span.step.size-18
                span.letters Pp
                i.i-bold
              span.step.size-21
                span.letters Pp
                i.i-bold
              span.step.size-24
                span.letters Pp
                i.i-bold
              span.step.size-36
                span.letters Pp
                i.i-bold
              span.step.size-48
                span.letters Pp
                i.i-bold
              span.step.size-60
                span.letters Pp
                i.i-bold
              span.step.size-72
                span.letters Pp
                i.i-bold
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bold')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf10f;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bolt
              span.step.size-14
                span.letters Pp
                i.i-bolt
              span.step.size-16
                span.letters Pp
                i.i-bolt
              span.step.size-18
                span.letters Pp
                i.i-bolt
              span.step.size-21
                span.letters Pp
                i.i-bolt
              span.step.size-24
                span.letters Pp
                i.i-bolt
              span.step.size-36
                span.letters Pp
                i.i-bolt
              span.step.size-48
                span.letters Pp
                i.i-bolt
              span.step.size-60
                span.letters Pp
                i.i-bolt
              span.step.size-72
                span.letters Pp
                i.i-bolt
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bolt')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf110;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-book
              span.step.size-14
                span.letters Pp
                i.i-book
              span.step.size-16
                span.letters Pp
                i.i-book
              span.step.size-18
                span.letters Pp
                i.i-book
              span.step.size-21
                span.letters Pp
                i.i-book
              span.step.size-24
                span.letters Pp
                i.i-book
              span.step.size-36
                span.letters Pp
                i.i-book
              span.step.size-48
                span.letters Pp
                i.i-book
              span.step.size-60
                span.letters Pp
                i.i-book
              span.step.size-72
                span.letters Pp
                i.i-book
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-book')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf111;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-building
              span.step.size-14
                span.letters Pp
                i.i-building
              span.step.size-16
                span.letters Pp
                i.i-building
              span.step.size-18
                span.letters Pp
                i.i-building
              span.step.size-21
                span.letters Pp
                i.i-building
              span.step.size-24
                span.letters Pp
                i.i-building
              span.step.size-36
                span.letters Pp
                i.i-building
              span.step.size-48
                span.letters Pp
                i.i-building
              span.step.size-60
                span.letters Pp
                i.i-building
              span.step.size-72
                span.letters Pp
                i.i-building
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-building')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf112;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-building1
              span.step.size-14
                span.letters Pp
                i.i-building1
              span.step.size-16
                span.letters Pp
                i.i-building1
              span.step.size-18
                span.letters Pp
                i.i-building1
              span.step.size-21
                span.letters Pp
                i.i-building1
              span.step.size-24
                span.letters Pp
                i.i-building1
              span.step.size-36
                span.letters Pp
                i.i-building1
              span.step.size-48
                span.letters Pp
                i.i-building1
              span.step.size-60
                span.letters Pp
                i.i-building1
              span.step.size-72
                span.letters Pp
                i.i-building1
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-building1')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf113;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-bull-eye
              span.step.size-14
                span.letters Pp
                i.i-bull-eye
              span.step.size-16
                span.letters Pp
                i.i-bull-eye
              span.step.size-18
                span.letters Pp
                i.i-bull-eye
              span.step.size-21
                span.letters Pp
                i.i-bull-eye
              span.step.size-24
                span.letters Pp
                i.i-bull-eye
              span.step.size-36
                span.letters Pp
                i.i-bull-eye
              span.step.size-48
                span.letters Pp
                i.i-bull-eye
              span.step.size-60
                span.letters Pp
                i.i-bull-eye
              span.step.size-72
                span.letters Pp
                i.i-bull-eye
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-bull-eye')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf114;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Bull-horn
              span.step.size-14
                span.letters Pp
                i.i-Bull-horn
              span.step.size-16
                span.letters Pp
                i.i-Bull-horn
              span.step.size-18
                span.letters Pp
                i.i-Bull-horn
              span.step.size-21
                span.letters Pp
                i.i-Bull-horn
              span.step.size-24
                span.letters Pp
                i.i-Bull-horn
              span.step.size-36
                span.letters Pp
                i.i-Bull-horn
              span.step.size-48
                span.letters Pp
                i.i-Bull-horn
              span.step.size-60
                span.letters Pp
                i.i-Bull-horn
              span.step.size-72
                span.letters Pp
                i.i-Bull-horn
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Bull-horn')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf115;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-calander
              span.step.size-14
                span.letters Pp
                i.i-calander
              span.step.size-16
                span.letters Pp
                i.i-calander
              span.step.size-18
                span.letters Pp
                i.i-calander
              span.step.size-21
                span.letters Pp
                i.i-calander
              span.step.size-24
                span.letters Pp
                i.i-calander
              span.step.size-36
                span.letters Pp
                i.i-calander
              span.step.size-48
                span.letters Pp
                i.i-calander
              span.step.size-60
                span.letters Pp
                i.i-calander
              span.step.size-72
                span.letters Pp
                i.i-calander
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-calander')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf116;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-camera
              span.step.size-14
                span.letters Pp
                i.i-camera
              span.step.size-16
                span.letters Pp
                i.i-camera
              span.step.size-18
                span.letters Pp
                i.i-camera
              span.step.size-21
                span.letters Pp
                i.i-camera
              span.step.size-24
                span.letters Pp
                i.i-camera
              span.step.size-36
                span.letters Pp
                i.i-camera
              span.step.size-48
                span.letters Pp
                i.i-camera
              span.step.size-60
                span.letters Pp
                i.i-camera
              span.step.size-72
                span.letters Pp
                i.i-camera
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-camera')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf117;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-down
              span.step.size-14
                span.letters Pp
                i.i-caret-down
              span.step.size-16
                span.letters Pp
                i.i-caret-down
              span.step.size-18
                span.letters Pp
                i.i-caret-down
              span.step.size-21
                span.letters Pp
                i.i-caret-down
              span.step.size-24
                span.letters Pp
                i.i-caret-down
              span.step.size-36
                span.letters Pp
                i.i-caret-down
              span.step.size-48
                span.letters Pp
                i.i-caret-down
              span.step.size-60
                span.letters Pp
                i.i-caret-down
              span.step.size-72
                span.letters Pp
                i.i-caret-down
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-down')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf118;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-left
              span.step.size-14
                span.letters Pp
                i.i-caret-left
              span.step.size-16
                span.letters Pp
                i.i-caret-left
              span.step.size-18
                span.letters Pp
                i.i-caret-left
              span.step.size-21
                span.letters Pp
                i.i-caret-left
              span.step.size-24
                span.letters Pp
                i.i-caret-left
              span.step.size-36
                span.letters Pp
                i.i-caret-left
              span.step.size-48
                span.letters Pp
                i.i-caret-left
              span.step.size-60
                span.letters Pp
                i.i-caret-left
              span.step.size-72
                span.letters Pp
                i.i-caret-left
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-left')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf119;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-right
              span.step.size-14
                span.letters Pp
                i.i-caret-right
              span.step.size-16
                span.letters Pp
                i.i-caret-right
              span.step.size-18
                span.letters Pp
                i.i-caret-right
              span.step.size-21
                span.letters Pp
                i.i-caret-right
              span.step.size-24
                span.letters Pp
                i.i-caret-right
              span.step.size-36
                span.letters Pp
                i.i-caret-right
              span.step.size-48
                span.letters Pp
                i.i-caret-right
              span.step.size-60
                span.letters Pp
                i.i-caret-right
              span.step.size-72
                span.letters Pp
                i.i-caret-right
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-right')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf11a;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-square-down
              span.step.size-14
                span.letters Pp
                i.i-caret-square-down
              span.step.size-16
                span.letters Pp
                i.i-caret-square-down
              span.step.size-18
                span.letters Pp
                i.i-caret-square-down
              span.step.size-21
                span.letters Pp
                i.i-caret-square-down
              span.step.size-24
                span.letters Pp
                i.i-caret-square-down
              span.step.size-36
                span.letters Pp
                i.i-caret-square-down
              span.step.size-48
                span.letters Pp
                i.i-caret-square-down
              span.step.size-60
                span.letters Pp
                i.i-caret-square-down
              span.step.size-72
                span.letters Pp
                i.i-caret-square-down
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-square-down')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf11b;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-square-left
              span.step.size-14
                span.letters Pp
                i.i-caret-square-left
              span.step.size-16
                span.letters Pp
                i.i-caret-square-left
              span.step.size-18
                span.letters Pp
                i.i-caret-square-left
              span.step.size-21
                span.letters Pp
                i.i-caret-square-left
              span.step.size-24
                span.letters Pp
                i.i-caret-square-left
              span.step.size-36
                span.letters Pp
                i.i-caret-square-left
              span.step.size-48
                span.letters Pp
                i.i-caret-square-left
              span.step.size-60
                span.letters Pp
                i.i-caret-square-left
              span.step.size-72
                span.letters Pp
                i.i-caret-square-left
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-square-left')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf11c;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-square-right
              span.step.size-14
                span.letters Pp
                i.i-caret-square-right
              span.step.size-16
                span.letters Pp
                i.i-caret-square-right
              span.step.size-18
                span.letters Pp
                i.i-caret-square-right
              span.step.size-21
                span.letters Pp
                i.i-caret-square-right
              span.step.size-24
                span.letters Pp
                i.i-caret-square-right
              span.step.size-36
                span.letters Pp
                i.i-caret-square-right
              span.step.size-48
                span.letters Pp
                i.i-caret-square-right
              span.step.size-60
                span.letters Pp
                i.i-caret-square-right
              span.step.size-72
                span.letters Pp
                i.i-caret-square-right
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-square-right')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf11d;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-square-up
              span.step.size-14
                span.letters Pp
                i.i-caret-square-up
              span.step.size-16
                span.letters Pp
                i.i-caret-square-up
              span.step.size-18
                span.letters Pp
                i.i-caret-square-up
              span.step.size-21
                span.letters Pp
                i.i-caret-square-up
              span.step.size-24
                span.letters Pp
                i.i-caret-square-up
              span.step.size-36
                span.letters Pp
                i.i-caret-square-up
              span.step.size-48
                span.letters Pp
                i.i-caret-square-up
              span.step.size-60
                span.letters Pp
                i.i-caret-square-up
              span.step.size-72
                span.letters Pp
                i.i-caret-square-up
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-square-up')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf11e;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-caret-up
              span.step.size-14
                span.letters Pp
                i.i-caret-up
              span.step.size-16
                span.letters Pp
                i.i-caret-up
              span.step.size-18
                span.letters Pp
                i.i-caret-up
              span.step.size-21
                span.letters Pp
                i.i-caret-up
              span.step.size-24
                span.letters Pp
                i.i-caret-up
              span.step.size-36
                span.letters Pp
                i.i-caret-up
              span.step.size-48
                span.letters Pp
                i.i-caret-up
              span.step.size-60
                span.letters Pp
                i.i-caret-up
              span.step.size-72
                span.letters Pp
                i.i-caret-up
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-caret-up')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf11f;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-certificate
              span.step.size-14
                span.letters Pp
                i.i-certificate
              span.step.size-16
                span.letters Pp
                i.i-certificate
              span.step.size-18
                span.letters Pp
                i.i-certificate
              span.step.size-21
                span.letters Pp
                i.i-certificate
              span.step.size-24
                span.letters Pp
                i.i-certificate
              span.step.size-36
                span.letters Pp
                i.i-certificate
              span.step.size-48
                span.letters Pp
                i.i-certificate
              span.step.size-60
                span.letters Pp
                i.i-certificate
              span.step.size-72
                span.letters Pp
                i.i-certificate
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-certificate')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf120;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-clipboard
              span.step.size-14
                span.letters Pp
                i.i-clipboard
              span.step.size-16
                span.letters Pp
                i.i-clipboard
              span.step.size-18
                span.letters Pp
                i.i-clipboard
              span.step.size-21
                span.letters Pp
                i.i-clipboard
              span.step.size-24
                span.letters Pp
                i.i-clipboard
              span.step.size-36
                span.letters Pp
                i.i-clipboard
              span.step.size-48
                span.letters Pp
                i.i-clipboard
              span.step.size-60
                span.letters Pp
                i.i-clipboard
              span.step.size-72
                span.letters Pp
                i.i-clipboard
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-clipboard')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf121;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-clock
              span.step.size-14
                span.letters Pp
                i.i-clock
              span.step.size-16
                span.letters Pp
                i.i-clock
              span.step.size-18
                span.letters Pp
                i.i-clock
              span.step.size-21
                span.letters Pp
                i.i-clock
              span.step.size-24
                span.letters Pp
                i.i-clock
              span.step.size-36
                span.letters Pp
                i.i-clock
              span.step.size-48
                span.letters Pp
                i.i-clock
              span.step.size-60
                span.letters Pp
                i.i-clock
              span.step.size-72
                span.letters Pp
                i.i-clock
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-clock')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf122;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-cloud-download
              span.step.size-14
                span.letters Pp
                i.i-cloud-download
              span.step.size-16
                span.letters Pp
                i.i-cloud-download
              span.step.size-18
                span.letters Pp
                i.i-cloud-download
              span.step.size-21
                span.letters Pp
                i.i-cloud-download
              span.step.size-24
                span.letters Pp
                i.i-cloud-download
              span.step.size-36
                span.letters Pp
                i.i-cloud-download
              span.step.size-48
                span.letters Pp
                i.i-cloud-download
              span.step.size-60
                span.letters Pp
                i.i-cloud-download
              span.step.size-72
                span.letters Pp
                i.i-cloud-download
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-cloud-download')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf123;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-cloud-upload
              span.step.size-14
                span.letters Pp
                i.i-cloud-upload
              span.step.size-16
                span.letters Pp
                i.i-cloud-upload
              span.step.size-18
                span.letters Pp
                i.i-cloud-upload
              span.step.size-21
                span.letters Pp
                i.i-cloud-upload
              span.step.size-24
                span.letters Pp
                i.i-cloud-upload
              span.step.size-36
                span.letters Pp
                i.i-cloud-upload
              span.step.size-48
                span.letters Pp
                i.i-cloud-upload
              span.step.size-60
                span.letters Pp
                i.i-cloud-upload
              span.step.size-72
                span.letters Pp
                i.i-cloud-upload
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-cloud-upload')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf124;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-cloud
              span.step.size-14
                span.letters Pp
                i.i-cloud
              span.step.size-16
                span.letters Pp
                i.i-cloud
              span.step.size-18
                span.letters Pp
                i.i-cloud
              span.step.size-21
                span.letters Pp
                i.i-cloud
              span.step.size-24
                span.letters Pp
                i.i-cloud
              span.step.size-36
                span.letters Pp
                i.i-cloud
              span.step.size-48
                span.letters Pp
                i.i-cloud
              span.step.size-60
                span.letters Pp
                i.i-cloud
              span.step.size-72
                span.letters Pp
                i.i-cloud
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-cloud')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf125;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-crop
              span.step.size-14
                span.letters Pp
                i.i-crop
              span.step.size-16
                span.letters Pp
                i.i-crop
              span.step.size-18
                span.letters Pp
                i.i-crop
              span.step.size-21
                span.letters Pp
                i.i-crop
              span.step.size-24
                span.letters Pp
                i.i-crop
              span.step.size-36
                span.letters Pp
                i.i-crop
              span.step.size-48
                span.letters Pp
                i.i-crop
              span.step.size-60
                span.letters Pp
                i.i-crop
              span.step.size-72
                span.letters Pp
                i.i-crop
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-crop')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf126;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-enevelop
              span.step.size-14
                span.letters Pp
                i.i-enevelop
              span.step.size-16
                span.letters Pp
                i.i-enevelop
              span.step.size-18
                span.letters Pp
                i.i-enevelop
              span.step.size-21
                span.letters Pp
                i.i-enevelop
              span.step.size-24
                span.letters Pp
                i.i-enevelop
              span.step.size-36
                span.letters Pp
                i.i-enevelop
              span.step.size-48
                span.letters Pp
                i.i-enevelop
              span.step.size-60
                span.letters Pp
                i.i-enevelop
              span.step.size-72
                span.letters Pp
                i.i-enevelop
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-enevelop')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf127;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-forward
              span.step.size-14
                span.letters Pp
                i.i-forward
              span.step.size-16
                span.letters Pp
                i.i-forward
              span.step.size-18
                span.letters Pp
                i.i-forward
              span.step.size-21
                span.letters Pp
                i.i-forward
              span.step.size-24
                span.letters Pp
                i.i-forward
              span.step.size-36
                span.letters Pp
                i.i-forward
              span.step.size-48
                span.letters Pp
                i.i-forward
              span.step.size-60
                span.letters Pp
                i.i-forward
              span.step.size-72
                span.letters Pp
                i.i-forward
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-forward')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf128;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-glass
              span.step.size-14
                span.letters Pp
                i.i-glass
              span.step.size-16
                span.letters Pp
                i.i-glass
              span.step.size-18
                span.letters Pp
                i.i-glass
              span.step.size-21
                span.letters Pp
                i.i-glass
              span.step.size-24
                span.letters Pp
                i.i-glass
              span.step.size-36
                span.letters Pp
                i.i-glass
              span.step.size-48
                span.letters Pp
                i.i-glass
              span.step.size-60
                span.letters Pp
                i.i-glass
              span.step.size-72
                span.letters Pp
                i.i-glass
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-glass')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf129;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-home-64
              span.step.size-14
                span.letters Pp
                i.i-home-64
              span.step.size-16
                span.letters Pp
                i.i-home-64
              span.step.size-18
                span.letters Pp
                i.i-home-64
              span.step.size-21
                span.letters Pp
                i.i-home-64
              span.step.size-24
                span.letters Pp
                i.i-home-64
              span.step.size-36
                span.letters Pp
                i.i-home-64
              span.step.size-48
                span.letters Pp
                i.i-home-64
              span.step.size-60
                span.letters Pp
                i.i-home-64
              span.step.size-72
                span.letters Pp
                i.i-home-64
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-home-64')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf12a;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-pause
              span.step.size-14
                span.letters Pp
                i.i-pause
              span.step.size-16
                span.letters Pp
                i.i-pause
              span.step.size-18
                span.letters Pp
                i.i-pause
              span.step.size-21
                span.letters Pp
                i.i-pause
              span.step.size-24
                span.letters Pp
                i.i-pause
              span.step.size-36
                span.letters Pp
                i.i-pause
              span.step.size-48
                span.letters Pp
                i.i-pause
              span.step.size-60
                span.letters Pp
                i.i-pause
              span.step.size-72
                span.letters Pp
                i.i-pause
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-pause')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf12b;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-Pen
              span.step.size-14
                span.letters Pp
                i.i-Pen
              span.step.size-16
                span.letters Pp
                i.i-Pen
              span.step.size-18
                span.letters Pp
                i.i-Pen
              span.step.size-21
                span.letters Pp
                i.i-Pen
              span.step.size-24
                span.letters Pp
                i.i-Pen
              span.step.size-36
                span.letters Pp
                i.i-Pen
              span.step.size-48
                span.letters Pp
                i.i-Pen
              span.step.size-60
                span.letters Pp
                i.i-Pen
              span.step.size-72
                span.letters Pp
                i.i-Pen
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-Pen')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf12c;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-pie-chrt
              span.step.size-14
                span.letters Pp
                i.i-pie-chrt
              span.step.size-16
                span.letters Pp
                i.i-pie-chrt
              span.step.size-18
                span.letters Pp
                i.i-pie-chrt
              span.step.size-21
                span.letters Pp
                i.i-pie-chrt
              span.step.size-24
                span.letters Pp
                i.i-pie-chrt
              span.step.size-36
                span.letters Pp
                i.i-pie-chrt
              span.step.size-48
                span.letters Pp
                i.i-pie-chrt
              span.step.size-60
                span.letters Pp
                i.i-pie-chrt
              span.step.size-72
                span.letters Pp
                i.i-pie-chrt
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-pie-chrt')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf12d;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-play
              span.step.size-14
                span.letters Pp
                i.i-play
              span.step.size-16
                span.letters Pp
                i.i-play
              span.step.size-18
                span.letters Pp
                i.i-play
              span.step.size-21
                span.letters Pp
                i.i-play
              span.step.size-24
                span.letters Pp
                i.i-play
              span.step.size-36
                span.letters Pp
                i.i-play
              span.step.size-48
                span.letters Pp
                i.i-play
              span.step.size-60
                span.letters Pp
                i.i-play
              span.step.size-72
                span.letters Pp
                i.i-play
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-play')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf12e;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-shield-64
              span.step.size-14
                span.letters Pp
                i.i-shield-64
              span.step.size-16
                span.letters Pp
                i.i-shield-64
              span.step.size-18
                span.letters Pp
                i.i-shield-64
              span.step.size-21
                span.letters Pp
                i.i-shield-64
              span.step.size-24
                span.letters Pp
                i.i-shield-64
              span.step.size-36
                span.letters Pp
                i.i-shield-64
              span.step.size-48
                span.letters Pp
                i.i-shield-64
              span.step.size-60
                span.letters Pp
                i.i-shield-64
              span.step.size-72
                span.letters Pp
                i.i-shield-64
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-shield-64')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf12f;')
          .glyph
            .preview-glyphs
              span.step.size-12
                span.letters Pp
                i.i-trophy-64
              span.step.size-14
                span.letters Pp
                i.i-trophy-64
              span.step.size-16
                span.letters Pp
                i.i-trophy-64
              span.step.size-18
                span.letters Pp
                i.i-trophy-64
              span.step.size-21
                span.letters Pp
                i.i-trophy-64
              span.step.size-24
                span.letters Pp
                i.i-trophy-64
              span.step.size-36
                span.letters Pp
                i.i-trophy-64
              span.step.size-48
                span.letters Pp
                i.i-trophy-64
              span.step.size-60
                span.letters Pp
                i.i-trophy-64
              span.step.size-72
                span.letters Pp
                i.i-trophy-64
            .preview-scale
              span.step 12
              span.step 14
              span.step 16
              span.step 18
              span.step 21
              span.step 24
              span.step 36
              span.step 48
              span.step 60
              span.step 72
            .usage
              input.class(type='text', readonly='readonly', onclick='this.select();', value='.i-trophy-64')
              input.point(type='text', readonly='readonly', onclick='this.select();', value='&#xf130;')
          footer
            | Made with love using
            a(href='http://fontcustom.com') Font Custom
            | .
     