
!!! 5
html
  head
    title Buttons Demo

  
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', type='text/css')


	meta(charset='utf-8')
	meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

	link(rel='stylesheet', href='../css/normalize.css', type='text/css' )
	link(rel='stylesheet', href='../css/base.css', type='text/css' )

	link(rel='stylesheet', href='../css/nav/nav.css', type='text/css' )	

	link(rel='stylesheet', href='../css/grid/grid.css', type='text/css' )
	link(rel='stylesheet', href='../css/grid/grid-12.css', type='text/css' )

	link(rel='stylesheet', href='../css/grid/demo.css', type='text/css' )

	script(text = 'text/javascript', src="../js/jquery.js")	
	script(text = 'text/javascript', src="../js/nav.js")	


	link(rel='stylesheet', href='../css/tables/table.css', type='text/css' )
	link(rel='stylesheet', href='../css/tables/tables.css', type='text/css' )    
	link(rel='stylesheet', href='../css/buttons/buttons.css', type='text/css' ) 

    link(rel='stylesheet', href='../css/forms/form.css', type='text/css' )



  body

    include _nav

    block content
