!!! 5
html
  head
    title Cutting Deals
    
    include header

    style

    
  body

    include _nav

    .grid
      .row
        .desktop-12.tablet-6.mobile-3
          h2 The above menu is live demo of Nav 

          