!!! 5
html
  head
    title Typography

    include header
    

  body

    include _nav
   
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example
          
          h2.divide-section Typography
          p Uses relative sizing (rems and pixels as fallback) for everything.

          p 
            | The <code>body</code> has a base <code>font-size</code> of 100%, which is 16px on browsers with default font settings. 
            | All other sizes are in rems. Changing the code font-size on the <code>body</code> element will adjust the typographical 
            | scale for the entire site.
          
          //- p
          //-   span.label  New to relative sizing? 
          //-   a(href='http://gomakethings.com/working-with-relative-sizing/') Learn more.
          
          p
            | The 
            code font-family
            |   on the 
            code body
            |  is 
            code "Open Sans","Helvetica Neue", Arial, sans-serif
            |  . This sets the typeface for the entire site. Adjust as needed.
          
          h2.divide-section Text Basics
          
          p
            |  Default text. 
            br
            span.text-muted Muted text. 
            br 
            span.text-small Small text. 
            br 
            span.text-tall Tall text. 
            br 
            a(href='#') Hyperlinks. 
            br
            strong Bold 
            |  and 
            em italics
            | .


          h2.divide-section Headings

          h1 h1. Heading 1
          h2 h2. Heading 2
          h3 h3. Heading 3
          h4 h4. Heading 4
          h5 h5. Heading 5
          h6 h6. Heading 6

          h2.divide-section Paragraphs

          p Dummy Text

          p.lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Quod quidem iam fit etiam in Academia. Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim. Iam in altera philosophiae parte.

          p.lorem Isto modo ne improbos quidem, si essent boni viri. Duo Reges: constructio interrete. Hanc ergo intuens debet institutum illud quasi signum absolvere. Apparet statim, quae sint officia, quae actiones. Neminem videbis ita laudatum, ut artifex callidus comparandarum voluptatum diceretur. Non risu potius quam oratione eiciendum? Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba.

          p.lorem Nam ista vestra: Si gravis, brevis; Nihilne est in his rebus, quod dignum libero aut indignum esse ducamus? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Quod non faceret, si in voluptate summum bonum poneret. Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Miserum hominem! Si dolor summum malum est, dici aliter non potest. Hoc non est positum in nostra actione. Itaque eos id agere, ut a se dolores, morbos, debilitates repellant.  

          h2.divide-section Blockquote

          blockquote.lorem
            Someone once said something so important, it was deemed worthy of repeating here in the form of a blockquote. This is that blockquote.

          | You can also include superscripts<sup>1</sup> and subscripts<sub>xyz</sub>.

          h2.divide-section Code

          p.lorem Here's some code that's within a sentence: the <code>.js</code> file is very important

          p Here's some preformatted text:
            pre
              code.
                .js {
                      color: #272727;
                      background: #ffffff;
                    }
          
          h2.divide-section Lines

          p= "Add lines to your markup using the <hr> element."

          <hr>
  

          h2.divide-section Lists

      .row
        .desktop-4
          
          
          h3 Ordered
          ol
            li Item 1
            li Item 2
            li Item 3
          
        
        .desktop-4
          h3 Unordered Simple

          ul
            li Item 1
            li Item 2
            li Item 3
        
        .desktop-4  
          h3 Unordered Disc
          ul.disc
            li Item 1
            li Item 2
            li Item 3
      
      .row

        .desktop-4    
          h3 Unordered Circle
          ul.circle
            li Item 1
            li Item 2
            li Item 3
      
        .desktop-4
          h3 Unordered Square
          ul.square
            li Item 1
            li Item 2
            li Item 3
        .desktop-4    
          dl
            dt Definition List
            dd.
               Encloses a list of pairs of terms and descriptions. Common uses for this element are to implement a glossary or to 
               display metadata (a list of key-value pairs).

      .row  
        .desktop-12.tablet-6.mobile-3  
        
          h2.divide-section Alignment, Spacing & Visibility
          
          p You can adjust text alignment and spacing using a few simple CSS classes.
          
          h3 Text Alignment
          
          table.table.bordered.rounded.zebra
            thead
              tr
                th Alignment
                th Class
            tbody
              tr
                td Left
                td
                  code .text-left
              tr
                td Centered
                td
                  code .text-center
              tr
                td Right
                td
                  code .text-right
          
          h3 Floats
          
          table.table.bordered.rounded.zebra
            thead
              tr
                th Float
                th Class
            tbody
              tr
                td Left
                td
                  code .float-left
              tr
                td Centered
                td
                  code .float-center
              tr
                td Right
                td
                  code .float-right
          p
            span.label Pro Tip
            | Clear floats by wrapping floated content in a
            code <div>
            | with the
            code .group
            | class.
          
            
          h3 Spacing
          table.table.bordered.rounded.zebra
            thead
              tr
                th Top
                th Bottom
                th Class
            tbody
              tr
                td 0
                td 0
                td
                  code .no-space
              tr
                td Default
                td 0
                td
                  code .no-space-bottom
              tr
                td 0
                td Default
                td
                  code .no-space-top
              tr
                td Default
                td 2em
                td
                  code .space-bottom
              tr
                td Default
                td .5em
                td
                  code .space-bottom-small
              tr
                td .8125em
                td Default
                td
                  code .space-top
          
          h3 Screen Readers
          
          p
            | If you have text that you don't want displayed on screen, but that should still be in the markup for screen readers 
            | (for example, a search form label), simply apply the 
            code .screen-reader
            |  class. This will shift content off-screen, but screen readers can still read it.
    
      
  
    
         

    
    
              
