@import "../common/_funcs"
@import "../components/sitehelpers"

body
  font-family: Lato, sans-serif;    

//Grid doc css
.example 

  margin-bottom: 30px;
  margin-top: 0;

  [class*="desktop-"] ,[class*="col-"] , [class*='width-per-']
    background: none repeat scroll 0 0 #ddd;
    border-radius: 3px;
    color: #555;
    margin-bottom: 1.8%;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;

  [class*='width-per-']
    border 1px solid #bbb
    border-right 0
    border-radius 0

  [class*='width-per-']:last-child
    border-right  1px solid #bbb


  .row .row [class*="desktop-"],.row .row [class*="col-"]
    background: none repeat scroll 0 0 rgba(255,255,255,0.25);
    margin-bottom: 0;

  .row:hover [class*="desktop-"],.row:hover [class*="col-"]
    background: none repeat scroll 0 0 #aaa;

  .row:hover [class*="desktop-"] [class*="desktop-"],.row:hover [class*="col-"] [class*="col-"]
    background: none repeat scroll 0 0 rgba(255,255,255,0.25);
    margin-bottom: 0;

  .span_l
    display: block;

  .span_d,
  .span_t,
  .span_m
   display: none;

@media screen and (max-width: 1200px)
  .example .span_l
    display: none;

@media screen and (min-width: 990px) and (max-width: 1200px)
  .example .span_d 
    display: block;
  

@media screen and (min-width: 740px) and (max-width: 990px)
  .example .span_t 
    display: block;
  

@media screen and (min-width: 0px) and (max-width: 739px) 
  .example .span_m 
    display: block;


//Preview tab ui look for doc  
.markup,.preview
    position relative
    //font-size 0.9rem
    margin-top 1.5rem
 

.markup:after,.preview:after
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0;
    color: #9DA0A4;
    content: "HTML";
    font-size: 0.8rem
    font-weight: 300
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
    max-height 24px 
    
    max-width: 100px;
    left: -1px;
    top -25px
    font-weight 300
    font-size: 0.8rem

.preview    
    padding 3.5rem 2rem 2rem
    border 0px solid #ddd
    background-color #FEFEFE
    min-height 200px
    //color: #CC470D;

    &:after
        content "PREVIEW"
        max-width: 100px;
        left: -1px;
        top -25px
        font-weight 300
        font-size: 0.8rem


.preview-tab 
    position relative
    margin-bottom 2rem !important
    
    code[class*="language-"], pre[class*="language-"]
        color: #000;
        text-shadow: 0px 1px #FFF;
        font-family: Consolas,Monaco,"Andale Mono",monospace;
        direction: ltr;
        text-align: left;
        white-space: pre-wrap
        margin 0
        padding 0
        border 0
    
    &:after
        background-color: #F7F7F7;
        border: 1px solid #c1c1c1;
        border-radius: 0;
        top: 2px;
        right: 0
        color: #777777;
        content: "Example with Markup";
        padding: 6px 20px;
        position: absolute;
        text-align: left
        font-weight 300
        font-size 0.9rem       

    .resp-tab-content    
        min-height 200px
        border 1px solid #ccc
        margin-top: 2.2rem

    .resp-tabs-list li 
        margin 0 15px 0 0  
        padding 8px 15px 
        border-radius(0)

    h2.resp-accordion 
        padding: 9px 15px
 
//doc Icons style
.size-32 
    font-size: 32px
    color #555

.size-64 
    font-size: 64px
    color #555

.block 
    display : inline-block

    li
        display : inline-block
        //margin: 1.5rem 0
        background: none repeat scroll 0 0 #F2F2F2;
        border: 1px solid #DDDDDD;
        border-radius: 0.3rem;
        margin: 0.3rem 0.2rem;
        padding: 1.5rem 3.5rem;
        text-align: center;
        width: 14rem;


    .show-icon 
        //position: relative;
        //margin: 0 3rem;
        

    .icon-name
        display: block;
        margin-top: 2rem;
        text-align: center;
        font-size: 0.64rem;
        color: #999;
        //width 7rem
    
.resp-tabs-list 
    border-bottom: medium none;
    border-top: nones

.active-list
    background: #fbfbfb
    margin-bottom: 4rem

