@import "../common/_funcs"
@import "_custom"


form 
  margin: 0 0 18px

  label 
    cursor: pointer
    line-height: 2.235rem

  label.inline 
    display: inline-block
    //padding-right: 20px

  dt 
    margin: 0

  textarea 
    height: 150px

  ul, ul li 
    list-style-type: none
    margin-left: 0

  fieldset 
    padding 0 1.5625rem 1.5625rem
    margin 0 2px;
    //padding .5 em 0.625em 0.75em;
    border 1px solid #DDDDDD
    border-radius 4px
    color #666666


  fieldset legend 
    padding: 5px 10px
  &.row
    margin-top:20px;

.field 
  font-size: 1rem
  margin-bottom: 10px
  max-width: 100%
  overflow: hidden
  position: relative
  vertical-align: middle

.field.metro, .field .metro 
  border-radius: 0

.input, .textarea
  font-size: 1rem
  font-weight: 300
  max-width: 100%
  outline: medium none
  resize: none
  background: #FFFFFF;
  border: 1px solid #ccc;
  color: #333333;
  padding: 0.4rem 0.6rem
  margin-bottom .6rem

.collapse .input:first-child
  border-radius(.2rem .2rem 0 0)

.collapse .input
  margin-bottom 0
  border-bottom  0
  border-radius : 0

.collapse .input:last-child
  border-bottom   1px solid #ccc
  border-radius : 0 0 .2rem .2rem

.button.append
  box-shadow : none
  border-radius: 0
  padding 0.476rem 0.9rem

.button.append.right
   border-left 0
   border-radius: 0 .2rem .2rem 0

.button.append.left
   border-right 0
   border-radius(.2rem 0 0 .2rem)
