<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Leverage CMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script> -->

<link type="text/css" rel="stylesheet" href="../../doc/css/base.css" />


</head>

<body>

   
<div class="centered grid">
	
    <p class="text-center">
        Leverage is the proprietary CMS built and used by <a href="http://brolik.com">Brolik</a>. <a href="http://brolik.com"><img src="http://brolik.com/images/BRO_logo.png" alt="Brolik" style="vertical-align:middle; max-height:60px;" /></a>
    </p>
    <hr />
    <div class="text-center">
        <!-- <h1>The Day Has Come</h1> -->
        <h2>A game-changing CMS that gives you exactly the control you need.</h2>        
        <div><img src="ld.png" style="max-width:100%;" /></div>
        <h4>Leverage is a content management system for businesses who want more control of their website, without sacrificing aesthetics.</h4>
    </div>
    
    
	
    <div class="row">
    <div class="desktop-6"><h3>Why Did We Create a Content Management System?</h3>
    <p>We created Leverage because no other CMS gave us the visual customization our designers needed while staying simple and flexible for our developers. All other CMS platforms are either too simple and limiting, or they are way too bulky and complex.</p></div>
    
    <div class="desktop-6"><h3>Who is Leverage Built For?</h3>
    <p>Leverage's platform is built for developers, but the content management is built for businesses. We eliminate all the junk and focus on the features and tools that matter to you.</p></div>
    </div>
    
    <div class="row">
    <div class="desktop-6"><h3>Does Leverage Utilize Responsive Design?</h3>
    <p>Leverage is one of the first completely responsive content management systems, and the responsive design ideology is built into the core of the system. That means that both the front end website and the content management dashboard adapt fluidly to fit any screen size or device, ensuring a great experience for you and your visitors.</p></div>
    
    <div class="desktop-6"><h3>Does Leverage Provide Design Flexibility?</h3>
    <p>Leverage does not utilize themes or templates. All front end graphics and layouts are completely custom, meaning we'll never say "No, you can't do that," or "That won't work within the system." Other CMS platforms simply don't allow for this level of design control. Your designers will love it. Ours do.</p></div>
    </div>
    
    <div class="row">
    <div class="desktop-6"><h3>Is Leverage New?</h3>
    <p>Leverage is being used on hundreds of websites, and although the face of it has changed over the last five years, its backbone and structure have been proven site after site. As the web evolves, Leverage does, too.</p></div>
    
    <div class="desktop-6"><h3>Is There Training Involved?</h3>
    <p>Leverage requires minimal or no training to start updating content. Furthermore, you don't have to worry about how your images or video will work on different devices or if your SEO information is in place for a new page or product. It's all taken care of.</p></div>
    </div>
    
    <p class="text-center">For more information about using Leverage for future projects, please contact us at <a href="mailto:leverage@brolik.com">leverage@brolik.com</a>. Or...</p>
    <form name="emailListForm" id="emailListForm" action="" method="post">
    	<p style='text-align:center;'>Sign up to be one of the first notified when Leverage is released to the public <input type="email" name="email" value="" placeholder="Email Address" style="vertical-align:middle; padding:10px; background:rgba(255,255,255,1); border:1px solid rgba(0,0,0,.2); outline:none;" /><button type="submit" class="button info" >Sign Up</button></p>
    </form>
    
    <div class="row">
    	<div class="desktop-4 desktop-push-4">
            <p class="text-center"><img src="http://brolik.com/images/clients/logos/EVERLAST.png" style="max-height:65px;" /></p>
            <p style="position:absolute; margin-left:-.6em; margin-top:.25em; font-family:Georgia, 'Times New Roman', Times, serif; font-size:4em; color:rgba(150,150,150,.6);">&ldquo;</p>
            <p style="position:absolute; right:-.4em; bottom:0; margin-bottom:.7em; font-family:Georgia, 'Times New Roman', Times, serif; font-size:4em; color:rgba(150,150,150,.6);">&rdquo;</p>
            <p class="text-muted">
                The new Everlast site was designed to provide a rich and interactive destination for visitors to experience our brand. The Brolik team was instrumental in taking our ideas and proactively finding ways to enhance them to ensure our vision came to life. In addition, the content management system is very user-friendly and allows our team to easily update the website as needed.
            </p>
            <p class="text-muted">Raquel Torres, DTC Marketing Manager</p>
        </div>
    </div>
    
</div>

</body>
</html>\
