<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="../../doc/css/base.css">
    <!-- <link rel="stylesheet" href="/combo/1.8.2?/css/layouts/marketing.css"> -->
    
<!-- 
    <style type="text/css">
        .splash {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 2em auto 0;
    padding: 3em 0.5em;
}
    img 
    {
        max-width: 100%
    }
    </style>
 -->
</head>
<body>


<div class="grid">
    <div class="row">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="">Your Site</a>

            <ul class="subnav subnav-pill">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div class="header panel-box-secondary  row">
        
            <div class="desktop-4">
                <div class="l-box splash-image">
                
                    <img src="500x350.gif"  alt="Placeholder image for example.">
                </div>
            </div>

            <div class="desktop-8">
                <div class="l-box splash-text">
                    <h1 class="kilo">
                        Some big bold text.
                    </h1>

                    <h3 class="text-muted info">
                        The HTML and CSS for this layout show how you can make a modern, responsive landing page for your next product. Browse through the source to see how we use menus and responsive grids to create this layout. Shrink your browser width and watch the layout transform and play nice with small screens.
                    </h3>

                    <p>
                        <a href="#" class="button positive large">Get Started</a>
                    </p>
                </div>
            </div>
        
    </div>

  
    <div class="row">
        <div class="desktop-8">
           
                <h2 class="text-muted">Some small text</h4>

                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.
                </p>
            
        </div>

        <div class="desktop-4">
            
                <img class="thumbnail" src="http://placehold.it/400x250" data-src="holder.js/400x250" />
                     
            
        </div>

        <hr>
    </div>


    <div class="row content-ribbon">
        <div class="desktop-4">
           
                <img class="thumbnail" src="http://placehold.it/400x250" data-src="holder.js/400x250"  />
            
        </div>

        <div class="desktop-8">
           
                <h2 class="text-muted">Some more small text</h2>

                <h3>Etiam iaculis iaculis lobortis.</h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.
                </p>
            
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="desktop-3">
            <div class="l-box">
                <h3>Subheading</h3>
                <p>
                    Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                </p>
            </div>
        </div>

        <div class="desktop-3">
            <div class="l-box">
                <h3>Subheading</h3>
                <p>
                    Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                </p>
            </div>
        </div>

        <div class="desktop-3">
            <div class="l-box">
                <h3>Subheading</h3>
                <p>
                    Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                </p>
            </div>
        </div>

        <div class="desktop-3">
            <div class="l-box">
                <h3>Subheading</h3>
                <p>
                    Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                </p>
            </div>
        </div>
    </div>

    <div class="row l-box panel-box">
        <h2>Get started now.  <span class="badge badge-round badge-warning">New Exicting Offer</span></h2>
        <p><a href="#" class="button primary large">Sign up</a></p>
    </div>
   

    <div class="footer row">
        <p>View the source of this layout to learn more. Made with love by the YUI Team.</p>
    </div>
</div>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<script type="text/javascript" href="../../doc/vendors/holder.js"></script>


</body>
</html>
