nav {
  background-color: top;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #efefef);
  background-image: -moz-linear-gradient(top, #fbfbfb, #efefef);
  background-image: -ms-linear-gradient(top, #fbfbfb, #efefef);
  background-image: -o-linear-gradient(top, #fbfbfb, #efefef);
  background-image: linear-gradient(top, #fbfbfb, #efefef);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#topcolor', EndColorStr='#bottomcolor')";
  border-bottom: 1px solid #d2d2d2;
  border: 1px solid #d9d9d9;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.077);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.077);
  box-shadow: 0 1px 4px rgba(0,0,0,0.077);
}
nav .field {
  padding: 0.5rem 1rem;
}
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 0;
  margin: 0;
}
.flexnav i {
  font-size: 0.6rem;
  margin-left: 0.5rem;
  float: right;
}
.flexnav h4 {
  padding: 0.25rem 1rem;
}
.flexnav.opacity {
  opacity: 0;
}
.flexnav.flexnav-show {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  transition: all;
}
.flexnav.one-page {
  position: fixed;
  top: 3.125rem;
  right: 5%;
  max-width: 12.5rem;
}
.flexnav ul {
  margin: 0;
  padding: 0;
}
.flexnav ul li {
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.flexnav ul li a {
  position: relative;
  display: block;
  padding: 0.96rem 1.2rem;
  z-index: 2;
  overflow: hidden;
  color: #565656;
}
.flexnav ul li a:hover,
.flexnav ul li a:active {
  color: #222;
}
.flexnav ul li ul {
  margin: 0;
  padding: 0.8rem 0;
  outline: 0;
  background-color: top;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#topcolor', EndColorStr='#bottomcolor')";
  border: 1px solid #ddd;
  border-top: none;
  width: 130%;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
}
.flexnav ul li ul li {
  font-size: 0.85rem;
  position: relative;
  overflow: visible;
}
.flexnav ul li ul li a {
  padding: 0.76rem 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.flexnav ul li ul li a:hover,
.flexnav ul li ul li a:active {
  background-color: top;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: -o-linear-gradient(top, #fcfcfc, #f8f8f8);
  background-image: linear-gradient(top, #fcfcfc, #f8f8f8);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#topcolor', EndColorStr='#bottomcolor')";
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.flexnav ul li ul li ul {
  border: 1px solid #ddd;
}
.flexnav ul ul.flexnav-show li {
  overflow: visible;
}
.flexnav ul li ul li a {
  display: block;
}
.flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 3.125rem;
  display: inline-block;
  text-align: center;
}
.flexnav .touch-button:hover {
  cursor: pointer;
}
.flexnav .touch-button .navicon {
  position: relative;
  top: 1rem;
  font-size: 0.55rem;
  color: #666;
}
.menu-button {
  padding: 0.4rem 1rem;
  position: relative;
  text-align: right;
  display: block;
  color: #565656;
  cursor: pointer;
}
.menu-button i {
  font-size: 1.1rem;
}
.menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 2.8125rem;
}
.menu-button .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 3.125rem;
  display: inline-block;
  text-align: center;
}
.menu-button .touch-button .navicon {
  font-size: 1rem;
  position: relative;
  top: 1rem;
  color: #666;
}
@media all and (min-width: 800px) {
  body.one-page {
    padding-top: 4.375rem;
  }
  nav {
    height: 3.2rem;
  }
  .flexnav {
    overflow: visible;
  }
  .flexnav div {
    float: right;
  }
  .flexnav i {
    float: none;
  }
  .flexnav h4 {
    display: inline-block;
    float: left;
    padding: 0.25rem 1rem;
  }
  .flexnav.opacity {
    opacity: 1;
  }
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  .flexnav ul li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    overflow: visible;
  }
  .flexnav ul li > ul {
    position: absolute;
    top: auto;
    left: -1px;
  }
  .flexnav ul li > ul li {
    width: 100%;
  }
  .flexnav ul li ul li > ul {
    margin-left: 100%;
    top: 0;
  }
  .flexnav ul li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .flexnav ul li ul.open li {
    overflow: visible;
    max-height: 100px;
  }
  .flexnav ul li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }
  .menu-button {
    display: none;
  }
}
.oldie body.one-page {
  padding-top: 4.375rem;
}
.oldie .flexnav ul {
  overflow: visible;
}
.oldie .flexnav ul.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}
.oldie .flexnav ul li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 5rem;
  min-height: 3.125rem;
  overflow: visible;
}
.oldie .flexnav ul li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav ul li:hover > ul li {
  width: 100%;
  float: none;
}
.oldie .flexnav ul li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
  overflow: visible;
}
.oldie .flexnav ul li > ul {
  background: #acaca1;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible;
}
.oldie .flexnav ul li ul li ul {
  top: 0;
}
.oldie .flexnav ul li ul li a {
  border-bottom: none;
}
.oldie .flexnav ul li ul.open {
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav ul li ul.open li {
  width: 100%;
}
.oldie .flexnav ul li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible;
}
.oldie .flexnav ul ul li:hover ul {
  margin-left: 100%;
  top: 0;
}
.oldie .menu-button {
  display: none;
}
.oldie.ie7 .flexnav li {
  width: 19.9%;
}
