@import "../common/_funcs"

.badge 
  display: inline-block
  padding: 3px 7px
  background: #00a8e6
  font-size: 0.625rem
  font-weight: bold
  line-height: 0.875rem
  color: #ffffff
  text-align: center
  vertical-align: middle
  text-transform: none

.badge-round 
  border-radius: 9px;
  padding-left: 9px;
  padding-right: 9px;

.badge-info 
  background-color: #EBF7FD

.badge-success 
  background-color: #8cc14c


.badge-warning 
  background-color: #faa732

.badge-danger 
  background-color: #da314b
