@import "../common/_funcs"
// Component: Badge

.badge 
  display: inline-block
  padding: 3px 7px
  background: #00a8e6
  font-size: 0.625rem
  font-weight: bold
  line-height: 0.875rem
  color: #ffffff
  text-align: center
  vertical-align: middle
  text-transform: none

// Modifier: `badge-round`
.badge-round 
  //-moz-box-sizing: border-box
  //box-sizing: border-box
  //min-width: 18px
  border-radius: 9px;
  padding-left: 9px;
  padding-right: 9px;
  //font-size: 12px
  //line-height: 18px

// Color modifier

.badge-info 
  background-color: #EBF7FD

// Modifier: `badge-success`
.badge-success 
  background-color: #8cc14c

// Modifier: `badge-warning`
.badge-warning 
  background-color: #faa732

// Modifier: `badge-danger`
.badge-danger 
  background-color: #da314b
