.nav,
.nav ul 
  margin: 0
  padding: 0
  list-style: none

.nav li > a 
  display: block
  text-decoration: none

.nav > li > a 
  padding: 5px 15px

.nav ul 
  padding-left: 15px

.nav ul a 
  padding: 2px 0

.nav li > a > div 
  font-size: 12px
  line-height: 18px

.nav-header 
  padding: 5px 15px
  text-transform: uppercase
  font-weight: bold
  font-size: 12px

.nav-header:not(:first-child) 
  margin-top: 15px

.nav-divider 
  margin: 9px 15px

ul.nav-sub 
  padding: 5px 0 5px 15px

.nav-parent-icon > .parent > a:after 
  content: "\f104"
  width: 20px
  margin-right: -10px
  float: right
  font-family: FontAwesome
  text-align: center

.nav-parent-icon > .parent.open > a:after 
  content: "\f107"

.nav-side > li > a 
  color: #444444



.nav-side > li > a:hover,
.nav-side > li > a:focus 
  background: rgba(0, 0, 0, 0.05)
  color: #444444
  outline: none

.nav-side > li.active > a 
  background: #00a8e6
  color: #ffffff

.nav-side .nav-header 
  color: #444444

.nav-side .nav-divider 
  border-top: 1px solid #dddddd

.nav-side ul a 
  color: #0077dd

.nav-side ul a:hover 
  color: #005599

.nav-dropdown > li > a 
  color: #444444

.nav-dropdown > li > a:hover,
.nav-dropdown > li > a:focus 
  background: #00a8e6
  color: #ffffff
  outline: none

.nav-dropdown .nav-header 
  color: #999999

.nav-dropdown .nav-divider 
  border-top: 1px solid #dddddd

.nav-dropdown ul a 
  color: #0077dd

.nav-dropdown ul a:hover 
  color: #005599

.nav-navbar > li > a 
  color: #444444

.nav-navbar > li > a:hover,
.nav-navbar > li > a:focus 
  background: #00a8e6
  color: #ffffff
  outline: none

.nav-navbar .nav-header 
  color: #999999

.nav-navbar .nav-divider 
  border-top: 1px solid #dddddd

.nav-navbar ul a 
  color: #0077dd

.nav-navbar ul a:hover 
  color: #005599

// Modifier `nav-search`
.nav-search > li > a 
  color: #444444

.nav-search > li.active > a 
  background: #00a8e6
  color: #ffffff
  outline: none

.nav-search .nav-header 
  color: #999999

.nav-search .nav-divider 
  border-top: 1px solid #dddddd

.nav-search ul a 
  color: #0077dd

.nav-search ul a:hover 
  color: #005599

.nav-offcanvas > li > a 
  color: #cccccc
  padding: 10px 15px

.nav-offcanvas > .open > a,
html:not(.touch) .nav-offcanvas > li > a:hover,
html:not(.touch) .nav-offcanvas > li > a:focus 
  background: #404040
  color: #ffffff
  outline: none

html .nav.nav-offcanvas > li.active > a 
  background: #1a1a1a
  color: #ffffff

.nav-offcanvas .nav-header 
  color: #777777

.nav-offcanvas .nav-divider 
  border-top: 1px solid #1a1a1a

.nav-offcanvas ul a 
  color: #cccccc

html:not(.touch) .nav-offcanvas ul a:hover 
  color: #ffffff
