.pagination 
  padding: 0
  list-style: none
  text-align: center
  letter-spacing: -0.31em

.pagination:before,
.pagination:after 
  content: " "
  display: table

.pagination:after 
  clear: both

.pagination > li 
  display: inline-block
  letter-spacing: normal

.pagination > li:nth-child(n+2) 
  margin-left: 5px

.pagination > li > a,
.pagination > li > span 
  box-sizing: content-box
  min-width: 16px
  padding: 3px 5px
  line-height: 20px
  text-decoration: none
  text-align: center

.pagination > li > a 
  color: #444444

.pagination > li > a:hover,
.pagination > li > a:focus 
  background-color: #f5f5f5
  color: #444444
  outline: none

.pagination > li > a:active 
  background-color: #dddddd
  color: #444444

.pagination > .active > span 
  color: #00a8e6

.pagination > .disabled > span 
  color: #eaeaea

.pagination-previous 
  float: left

.pagination-next 
  float: right

.pagination-left
  text-align: left

.pagination-right 
  text-align: right
