.progress 
  box-sizing: border-box
  height: 20px
  margin-bottom: 15px
  background: #eeeeee
  overflow: hidden
  line-height: 20px

* + .progress 
  margin-top: 15px

.progress-bar 
  width: 0
  height: 100%
  background: #00a8e6
  float: left
  transition: width 0.6s ease
  font-size: 12px
  color: #ffffff
  text-align: center

.progress-mini 
  height: 6px

.progress-small 
  height: 12px

.progress-success .progress-bar 
  background-color: #8cc14c

.progress-warning .progress-bar 
  background-color: #faa732

.progress-danger .progress-bar 
  background-color: #da314b

.progress-striped .progress-bar 
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
  background-size: 30px 30px

.progress-striped.active .progress-bar 
  animation: progress-bar-stripes 2s linear infinite

@keyframes progress-bar-stripes 
  0% 
    background-position: 0 0
  
  100% 
    background-position: 30px 0
  
