// navigation 
nav.sticky
    width:300px
    background-color:rgb(240,240,240)
    border:solid 1px rgb(220,220,220)
    padding:0 12px


    &.stick
        position: fixed
        top: 0
        z-index: 10000
        margin-top:12px


    ul
        list-style-type:none
        margin:0
        padding:0


    li  
        a
            color:rgb(50,50,50)
            font-weight:700

//a.nav-active
//    color:#ccc
