@import "variables";

//!Reset Box-sizing 
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(unquote("boxsizing.htc"));
}

.box-sizing
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    *behavior: none;
}

.grid {
    .row {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        .row {
            margin-left: len-left ;
            margin-right: len-left;
            width: 102.0833333333333334%;
        }
        
         [class*="mobile-"], [class*="tablet-"], [class*="desktop-"] {
            float: left;
            margin-left: len-left;
            margin-right: len-left;
        }
        
        // !Padded Cells 
        [class*="mobile-"].padded, 
        [class*="tablet-"].padded, 
        [class*="desktop-"].padded
        {
            margin-left: 0;
            margin-right: 0;
            padding-left: len-left;
            padding-right: len-left;
           .box-sizing
        }
        
        // !Contained Cells 
        [class*="mobile-"].contained, 
        [class*="tablet-"].contained, 
        [class*="desktop-"].contained
        {
            margin-left: 0;
            margin-right: 0;
        }
        
        // !Right Cells 
        [class*="mobile-"].right, 
        [class*="tablet-"].right, 
        [class*="desktop-"].right { 
            float: right; 
        }
        
    }
    .row:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
}


//!Rows, Thinest to Widest  
.grid .row 
{
    @media mobile {
		 width: 480px; 
	}
	@media tablet {
		 width: 720px; 
	}
	@media desktop {
		 width: 960px; 
	}
	@media bigscreen {
		 width: 1200px; 
	}
}
	


	
.grid .row
{
  	//!Mobile, 540 (max 740) 
	@media untilmobile {
		// Cells 
		 .mobile-1 { width: 31.25%; }
		 .mobile-2 { width: 64.5833333333333333%; }
		 .mobile-3 { width: 97.9166666666666667%; }
		
		// Push 
		 .mobile-push-1 { margin-left: 34.375%; }
		 .mobile-push-2 { margin-left: 67.7083333333334%; }
		
		// Fractions 
		 .mobile-fourth { width: 22.91666666666666%; }
		 .mobile-third  { width: 31.25%; }
		 .mobile-half   { width: 47.9166666666666667%; }
		 .mobile-full   { width: 97.9166666666666667%; }
		
		// Fractions Push 
		 .mobile-push-third { margin-left: 34.375%; }
		 .mobile-push-half  { margin-left: 51.0416666666666667%; }
		
		// Contained 
		 .contained.mobile-1 { width: 33.3333333333333333%; }
		 .contained.mobile-2 { width: 66.6666666666666667%; }
		 .contained.mobile-3 { width: full; }
		
		// Contained Push 
		 .contained.push.mobile-1 { margin-left: 33.3333333333333333%; }
		 .contained.push.mobile-2 { margin-left: 66.6666666666666667%; }
		
		// Contained Fractions 
		 .contained.mobile-fourth { width: fourth; }
		 .contained.mobile-third  { width: third; }
		 .contained.mobile-half   { width: half; }
		 .contained.mobile-full   { width: full; }
		
		// Contained Fractions Push 
		 .contained.mobile-push-third { margin-left: third; }
		 .contained.mobile-push-half  { margin-left: half; }
		
		// Centered 
		 [class*="mobile-"].center { margin-left: auto; margin-right: auto; }
	}
	
	//!Mobile - Min, 300 (max 500) 
	@media maxmobile {
		// .min-push-0 { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; } 
		
		//Cells 
		 .min-full { width: 97.9166666666666667%; }
		
		//Contained Fractions 
		 .contained.min-third { width: third; }
		 .contained.min-half  { width: half; }
		 .contained.min-full  { width: full; }
		
		//Contained Fractions Push 
		 .contained.min-push-third { margin-left: third; }
		 .contained.min-push-half  { margin-left: half; }
		
		//Centered 
		 [class*="min-"].center { margin-left: auto; margin-right: auto; }
	}
	
	//!Tablet, 6 column, 720 (min 740) 
	@media screen and (min-width: 740px) and (max-width: 980px) {
		//Fractions 
		 .tablet-fourth { width: 22.91666666666666%; }
		 .tablet-third  { width: 31.25%; }
		 .tablet-half   { width: 47.9166666666666667%; }
		 .tablet-full   { width: 97.9166666666666667%; }
		
		//Fractions Push 
		 .tablet-push-third { margin-left: 34.375%; }
		 .tablet-push-half  { margin-left: 51.0416666666666667%; }
		
		//Contained Fractions 
		 .contained.tablet-fourth { width: fourth; }
		 .contained.tablet-third  { width: third; }
		 .contained.tablet-half   { width: half; }
		 .contained.tablet-full   { width: full; }
		
		//Contained Fractions Push 
		 .contained.tablet-push-third { margin-left: third; }
		 .contained.tablet-push-half  { margin-left: half; }
		
		//Center Cells 
		 [class*="tablet-"].center { margin-left: auto; margin-right: auto; }
	}
	
	//!Desktop, 12 column, 960 (min 980) 
	@media desktop {
		//Fractions 
		 .desktop-fourth { width: 22.91666666666666%; }
		 .desktop-third  { width: 31.25%; }
		 .desktop-half   { width: 47.9166666666666667%; }
		 .desktop-full   { width: 97.9166666666666667%; }
		
		//Fractions Push 
		 .desktop-push-third { margin-left: 34.375%; }
		 .desktop-push-half  { margin-left: 51.0416666666666667%; }
		
		//Contained Fractions 
		 .contained.desktop-fourth { width: fourth; }
		 .contained.desktop-third { width: third; }
		 .contained.desktop-half  { width: half; }
		 .contained.desktop-full  { width: full; }
		
		//Contained Fractions Push 
		 .contained.desktop-push-third { margin-left: third; }
		 .contained.desktop-push-half  { margin-left: half; }
		
		//Centered 
		 [class*="desktop-"].center { margin-left: auto; margin-right: auto; }
	}
	
	//!Desktop, Max, 12 column, 1200 (min 1220) 
	@media bigscreen {
		//Fractions 
		 .max-fourth { width: 22.91666666666666%; }
		 .max-third  { width: 31.25%; }
		 .max-half   { width: 47.9166666666666667%; }
		 .max-full   { width: 97.9166666666666667%; }
		
		//Fractions Push 
		 .max-push-third { margin-left: 34.375%; }
		 .max-push-half  { margin-left: 51.0416666666666667%; }
		
		//Contained Fractions 
		 .contained.max-fourth { width: fourth; }
		 .contained.max-third { width: third; }
		 .contained.max-half  { width: half; }
		 .contained.max-full  { width: full; }
		
		//Contained Fractions Push 
		 .contained.max-push-third { margin-left: third; }
		 .contained.max-push-half  { margin-left: half; }
		
		//Centered 
		 [class*="max-"].center { margin-left: auto; margin-right: auto; }
	}
 }
	