.button,
button
  display: inline-block
  padding: 0.4em
  margin: 1px
  width: auto
  font-weight: normal
  font-size: 1em
  font-family: Verdana, sans-serif
  text-decoration: none
  text-align: center
  line-height: normal
  letter-spacing: -0.01em
  -moz-appearance: button
  -moz-box-sizing: content-box
  cursor: pointer
  outline: none
  color: #1a1a1a
  text-shadow: 0 1px #fff
  border: 1px solid #a2a2a2
  -webkit-border-radius: 0.3em
  -moz-border-radius: 0.3em
  border-radius: 0.3em
  -webkit-box-shadow: inset 0 1px 0 white
  -moz-box-shadow: inset 0 1px 0 white
  box-shadow: inset 0 1px 0 white
  background-color: #e6e6e6
  background-image: linear-gradient(top, #e6e6e6, #d4d4d4)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#d4d4d4')"

.button:hover, .button:focus, button:hover, button:focus
   color: #333
   border: 1px solid #bbb
   text-shadow: 0 1px #fff
   background-color: white
   background-image: linear-gradient(top, white, #eeeeee)
   filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#eeeeee')"

.button.default,  button.default
  color: #00334d
  border: 1px solid #327495
  text-shadow: 0 1px #cceeff
  background-color: #97d0ed
  background-image: linear-gradient(top, #97d0ed, #78bcdd)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#97d0ed', EndColorStr='#78bcdd')"
  -webkit-box-shadow: inset 0 1px 0 #cceeff
  -moz-box-shadow: inset 0 1px 0 #cceeff
  box-shadow: inset 0 1px 0 #cceeff

.button.default:hover, .button.default:focus,  button.default:hover,  button.default:focus
  color: #005580
  border: 1px solid #327495
  text-shadow: 0 1px #cceeff
  background-color: #c2e4f4
  background-image: linear-gradient(top, #c2e4f4, #a1d0e8)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c2e4f4', EndColorStr='#a1d0e8')"
  -webkit-box-shadow: inset 0 1px 0 white
  -moz-box-shadow: inset 0 1px 0 white
  box-shadow: inset 0 1px 0 white

.button.negative, button.negative
  color: #4d0600
  border: 1px solid #953a32
  text-shadow: none
  background-color: #ed9e97
  background-image: linear-gradient(top, #ed9e97, #dd8178)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ed9e97', EndColorStr='#dd8178')"
  -webkit-box-shadow: inset 0 1px 0 #ffd0cc
  -moz-box-shadow: inset 0 1px 0 #ffd0cc
  box-shadow: inset 0 1px 0 #ffd0cc

.button.negative:hover, .button.negative:focus, button.negative:hover,  button.negative:focus
  color: #800b00
  border: 1px solid #953a32
  text-shadow: 0 1px #ffd0cc
  background-color: #f4c6c2
  background-image: linear-gradient(top, #f4c6c2, #e8a7a1)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4c6c2', EndColorStr='#e8a7a1')"
  -webkit-box-shadow: inset 0 1px 0 white
  -moz-box-shadow: inset 0 1px 0 white
  box-shadow: inset 0 1px 0 white

.button.positive,  button.positive  color: #264d00
  border: 1px solid #639532
  text-shadow: 0 1px #e6ffcc
  background-color: #c2ed97
  background-image: linear-gradient(top, #c2ed97, #abdd78)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c2ed97', EndColorStr='#abdd78')"
  -webkit-box-shadow: inset 0 1px 0 #e6ffcc
  -moz-box-shadow: inset 0 1px 0 #e6ffcc
  box-shadow: inset 0 1px 0 #e6ffcc

.button.positive:hover, .button.positive:focus,    button.positive:hover,    button.positive:focus
  color: #408000
  border: 1px solid #639532
  text-shadow: 0 1px #e6ffcc
  background-color: #dbf4c2
  background-image: linear-gradient(top, #dbf4c2, #c4e8a1)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbf4c2', EndColorStr='#c4e8a1')"
  -webkit-box-shadow: inset 0 1px 0 white
  -moz-box-shadow: inset 0 1px 0 white
  box-shadow: inset 0 1px 0 white

.button.dark,  button.dark
  color: #333333
  border: 1px solid #636363
  text-shadow: 0 1px #e6e6e6
  background-color: #c2c2c2
  background-image: linear-gradient(top, #c2c2c2, #ababab)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c2c2c2', EndColorStr='#ababab')"
  -webkit-box-shadow: inset 0 1px 0 #e6e6e6
  -moz-box-shadow: inset 0 1px 0 #e6e6e6
  box-shadow: inset 0 1px 0 #e6e6e6

.button.dark:hover, .button.dark:focus,    button.dark:hover,    button.dark:focus
  background-color: #dbdbdb
  background-image: linear-gradient(top, #dbdbdb, #c4c4c4)
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbdbdb', EndColorStr='#c4c4c4')"

.button.left,  button.left
  -webkit-border-radius: 0.3em 0 0 0.3em
  -moz-border-radius: 0.3em 0 0 0.3em
  border-radius: 0.3em 0 0 0.3em
  margin-right: -4px !important
  border-right: none

.button.middle,  button.middle
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  margin-left: 0
  margin-right: -4px
  border-right: none

.button.right,  button.right
  -webkit-border-radius: 0 0.3em 0.3em 0
  -moz-border-radius: 0 0.3em 0.3em 0
  border-radius: 0 0.3em 0.3em 0
  margin-left: 0 !important

.button.pill,  button.pill
  -webkit-border-radius: 1em
  -moz-border-radius: 1em
  border-radius: 1em
  padding-left: 0.9em
  padding-right: 0.9em

.button.disabled, .button[disabled],  button.disabled,  button[disabled]
  background-image: none !important
  filter: "alpha(opacity=50)"
  text-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  -moz-opacity: 0.5
  opacity: 0.5
  cursor: default

