@import "../_funcs"

//#dae5ed

.button, button 
    // box model
    display: inline-block
    padding: 0.4em 0.9em 0.25em
    padding: 0.5em 1em
    margin: 1px
    width: auto
    
    // typography
    font-weight: normal
    font-size: 1em
    //font-family: Verdana, sans-serif
    text-decoration: none
    text-align: center
    line-height: normal
    letter-spacing: -0.01em
    
    // layout
    -moz-appearance: button
    -moz-box-sizing: content-box
    
    // other
    cursor: pointer
    outline: none
    
    // text
    color: darken(#333, 10)
    text-shadow: 0 1px #fff
    
    // border
    border: 1px solid darken(#bbb, 10)
    border-radius(0.3em)
    box-shadow(inset 0 1px 0 #fff)
    
    // fill
    grad(darken(#fff, 10), darken(#eee, 10))
    
    // default hover/focus
    &:hover,&:focus 
        color: #333
        border: 1px solid #bbb
        text-shadow: 0 1px #fff
        grad(#fff, #eee)
    
    
    // some built-in color-styles

    &.primary 
        mybutton(200)
        
        &:hover, &:focus 
            mybutton(200, 10)
        
    
    
    &.negative 
        mybutton(5)
        text-shadow: none
        
        &:hover, &:focus 
            mybutton(5, 10)
        
    
    
    &.positive 
        mybutton(80)
        
        &:hover,&:focus 
            mybutton(90, 10)
        
    

    &.dark 
        color: rbg(0, 0, 20)
        border: 1px solid hsl(0, 0, 39)
        text-shadow: 0 1px hsl(0, 0, 90)
        grad(hsl(0, 0, 76), hsl(0, 0, 67))
        box-shadow(inset 0 1px 0 hsl(0, 0, 90))
        
        &:hover, &:focus 
            grad(hsl(0, 0, 86), hsl(0, 0, 77))
        
    
    
    // default layout options
    
    &.left 
        border-radius(0.3em 0 0 0.3em)
        margin-right: -4px !important
        border-right: none
    

    &.middle 
        border-radius(0)
        margin-left: 0
        margin-right: -4px
        border-right: none
    

    &.right 
        border-radius(0 0.3em 0.3em 0)
        margin-left: 0 !important
    
    
    &.pill 
        border-radius(1em)
        padding-left: 0.9em
        padding-right: 0.9em
    
    
    // default disabled
    &.disabled,&[disabled] 
        // remove gradient
        background-image: none !important
        filter: none !important
        
        // remove shadows
        text-shadow: none
        box-shadow(none)
        
        // reduce opacity
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
        filter: "alpha(opacity=50)"
        -moz-opacity: 0.5
        opacity: 0.5
        
        // remove pointer
        cursor: default


    &.success
        grad(#7FBF4D, #63A62F);
        border-color: #63A62F #63A62F #5B992B;
        border-image: none;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        box-shadow(0 1px 0 0 #96CA6D inset)
        color: #FFFFFF; 
        margin-right: 20px;
        //padding: 10px 20px 13px;
        text-align: center;
        text-shadow: 0 -1px 0 #4C9021;
        //text-transform: uppercase;

        &:hover 
            grad(#76B347, #5E9E2E);
            box-shadow(0 1px 0 0 #8DBF67 inset)
            cursor: pointer

        &:active 
            border-color: #5B992B #5B992B #538C27
            border-image: none
            border-style: solid
            border-width: 1px
            box-shadow(0 0 8px 4px #548C29 inset, 0 1px 0 0 #EEEEEE)


//        font: 600 1.4em/1.8 'Dosis','Helvetica Neue',Helvetica,Arial,sans-serif;
// .hdefault {
//     background-color: #EAEAEA;
//     background-image: linear-gradient(center top , #F6F6F6, #EAEAEA);
//     border-color: #DDDDDD #DDDDDD #CCCCCC;
//     border-image: none;
//     border-radius: 0.3em;
//     border-style: solid;
//     border-width: 1px;
//     box-shadow: 0 1px 0 #FFFFFF inset;
//     padding: 1em 1.5em;
//     text-decoration:none;
// }
// .hdefault:active {
//     background-image: -moz-linear-gradient(center top , #EAEAEA, #F6F6F6);
//     top: 1px;
// }
// .hdefault:before {
//     background-color: #EAEAEA;
//     border-radius: 140px;
//     bottom: -8px;
//     content: "";
//     left: -8px;
//     opacity: 0.5;
//     position: absolute;
//     right: -8px;
//     top: -8px;
//     z-index: -1;
// }
// .hdefault:active:before {
//     top: -9px;
// }
// .hdefault:hover:before {
//     opacity: 1;
// }
// .hdefault.twitter:hover:before {
//     background-color: #C6F0F8;
// }

// .hdefault img {
//     border: 0 none;
// }


    
