import "mixins"


/* generic button */

.button, button 
    // box model
    display: inline-block
    padding: 0.4em
    margin: 1px
    width: auto
    
    // typography
    font-weight: normal
    font-size: 1em
    font-family: Verdana, sans-serif
    text-decoration: none
    text-align: center
    line-height: normal
    letter-spacing: -0.01em
    
    // layout
    -moz-appearance: button
    -moz-box-sizing: content-box
    
    // other
    cursor: pointer
    outline: none
    
    // text
    color: darken(#333, 10)
    text-shadow: 0 1px #fff
    
    // border
    border: 1px solid darken(#bbb, 10)
    border-radius(0.3em)
    box-shadow(inset 0 1px 0 #fff)
    
    // fill
    grad(darken(#fff, 10), darken(#eee, 10))
    
    // default hover/focus
    &:hover,&:focus 
        color: #333
        border: 1px solid #bbb
        text-shadow: 0 1px #fff
        grad(#fff, #eee)
    
    
    // some built-in color-styles

    &.default 
        mybutton(hval: 200)
        
        &:hover, &:focus 
            mybutton(200, 10)
        
    
    
    &.negative 
        mybutton(5)
        text-shadow: none
        
        &:hover, &:focus 
            mybutton(5, 10)
        
    
    
    &.positive 
        mybutton(90)
        
        &:hover,&:focus 
            mybutton(90, 10)
        
    

    &.dark 
        color: rbg(0, 0, 20)
        border: 1px solid rgb(0, 0, 39)
        text-shadow: 0 1px rgb(0, 0, 90)
        grad(rgb(0, 0, 76), rgb(0, 0, 67))
        box-shadow(inset 0 1px 0 rgb(0, 0, 90))
        
        &:hover, &:focus 
            grad(rgb(0, 0, 86), rgb(0, 0, 77))
        
    
    
    // default layout options
    
    &.left 
        border-radius(0.3em 0 0 0.3em)
        margin-right: -4px !important
        border-right: none
    

    &.middle 
        border-radius(0)
        margin-left: 0
        margin-right: -4px
        border-right: none
    

    &.right 
        border-radius(0 0.3em 0.3em 0)
        margin-left: 0 !important
    
    
    &.pill 
        border-radius(1em)
        padding-left: 0.9em
        padding-right: 0.9em
    
    
    // default disabled
    &.disabled,&[disabled] 
        // remove gradient
        background-image: none !important
        filter: none !important
        
        // remove shadows
        text-shadow: none
        box-shadow(none)
        
        // reduce opacity
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
        //filter: alpha(opacity=50)
        -moz-opacity: 0.5
        opacity: 0.5
        
        // remove pointer
        cursor: default
    
