border-radius(radius) 
    -webkit-border-radius: radius
    -moz-border-radius: radius
    border-radius: radius


box-shadow(props) 
    -webkit-box-shadow: props
    -moz-box-shadow: props
    box-shadow: props


grad(top, bottom= darken(top, 10%)) 
    background-color: top
    background-image: -moz-linear-gradient(top, top, bottom) // firefox
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, top),color-stop(1, bottom)) // chrome, safari
    background-image: linear-gradient(top, top, bottom) // standard
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#top', EndColorStr='#bottom')" // ie6+


/* Colored button mixin 
 * 
 * Apply this with the color of your choice
 * to get a consistent styling of buttons.
 */

mybutton(hval, val= 0) 

    val1 = 50
    h = hval
    p(h)
    p(hval)
    p(val)


    color = rgb(hval, 100, 15)

    
    if val >= 0  
        color= lighten(color, val) 
    else  
        color= darken(color, val * -1) 
    
    border: 1px solid rgb(hval, 50, 39,0.5)
    text-shadow: 0 1px rgb(hval, 100, 90,0.5)
    
    top= rgb(hval, 70, 76,0.5)
    if val >= 0  
        top= lighten(top, val) 
    else  
        top= darken(top, val * -1) 
    
    bottom= rgb(hval, 60, 67,0.5)
    if val >= 0  
        bottom= lighten(bottom, val) 
    else  
        bottom= darken(bottom, val * -1) 
    
    grad(top, bottom)
    
    shadow= rgb(hval, 100, 90,0.5)
    if val >= 0  
        shadow= lighten(shadow, val) 
    else  
        shadow= darken(shadow, val * -1) 
    
    box-shadow(inset 0 1px 0 shadow)