//bootstrap inspired
.thumbnail 
    background-color: #FFFFFF
    border: 1px solid #DDDDDD
    border-radius: 4px
    display: block
    line-height: 1.5
    margin-bottom: 1.4rem
    padding: 4px
    

.thumbnail > img, .thumbnail a > img 
    display: block
    height: auto
    margin-left: auto
    margin-right: auto
    max-width: 100%

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active 
    border-color: red

.thumbnail .caption 
    color: #333333
    padding: 9px
