//default blue

td-color = #669 
th-color = #039
bg-color = #e8edff
th-border-color = #6678b1
th-bg-color = #b9c9fe
td-hover-color = #009


//gray theme
td-color = #444
th-color = #444
bg-color = #eee
th-border-color = #666
th-bg-color = #ddd

td-hover-color = #777

//yellow default FCFCEF