/*  Desktop and up */

@media (min-width: screenDesktop) 

    .row 
        max-width: ( screenDesktop  - (gutterWidth * 2) )
        center-block()
    

    [class*="desktop-"]    
        float: left
        padding: 0 (gutterWidth / 2)
    

    //call here
    generate-grid("desktop")

    generate-offset("desktop") 

    generate-pull("desktop")
    generate-push("desktop")

