/*
    
    Large desktop and up
 
*/

@media (min-width: screenLarge) 

    .row 
        max-width: ( screenLarge  - (gutterWidth * 2) )
        center-block()
    
    [class*="large-"]    
        float: left
        padding-right: (gutterWidth / 2)
        padding-left: (gutterWidth / 2)
    

    //call here
    generate-grid("large")
    generate-offset("large")
    generate-pull("large")
    generate-push("large")
    