//    Tablet and up

@media (min-width: screenTablet) 

    .container 
        max-width: ( screenTablet - (gutterWidth * 2) )
        center-block()
    

    [class*="tablet-",class*="m-"]    
        float: left
        padding: 0 (gutterWidth / 2)
    

    //call here
    generate-grid("tablet")

    generate-offset("tablet") 

    generate-pull("tablet")
    generate-push("tablet")
   
    // Groups
    .row 
        margin-right: (gutterWidth / -2 )
        margin-left: (gutterWidth / -2)
        padding: 0
        clear()
    

