
// Grid
columns=       12
gutterWidth=   1.5rem

// Column size

columnWidth=   100%/columns

// Break-points

screenTablet=  768px
screenDesktop= 992px
screenLarge=   1200px

useShortNames = true



mobile = "screen and (min-width: 500px)"
tablet = "screen and (min-width: 740px)"
desktop = "screen and (min-width: 980px)"
large = "screen and (min-width: 1220px)"

maxmobile = " screen and (max-width: 500px)"
untilmobile = "screen and (max-width: 740px)"


untiltablet = tablet + " and (max-width: 980px) "

