
//-
  a(href="https://github.com/speedovation/wall/")
  img( style="position: absolute; top: 0; left: 0; border: 0;" 
       src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" 
       alt="Fork me on GitHub" )

.row
    .mobile-12.tablet-12.desktop-12.large-12
      nav.nav
        .menu-button
            i.i-bars1

        .flexnav.opacity.lg-screen(data-breakpoint='768')
          h4 Inventive Responsive framework
          ul
            li
              a(href='index.html') Home

            li.item-with-ul
              a(href='javascript://;')  Design
                i.i-chevron-down

              ul
                li
                  a(href='typography.html') Typography
                li
                  a(href='icons.html') Web Icons
                //li
                //  a(href='shopping_icons.html') Cart Icons

            li
              a(href='javascript://;') UI Components
                i.i-chevron-down
              ul

                li
                  a(href='grid.html') Grid
                li
                  a(href='tables.html') Tables
                li
                  a(href='forms.html') Forms
                li
                  a(href='buttons.html') Buttons


                li
                  a(href='tooltips.html') Tooltips
                li
                  a(href='messages.html') Messages
                li
                  a(href='badge.html') Badges
                li
                  a(href='thumbnail.html') Thumbnail

                li
                  a(href='navbar.html') Navbar
                li
                  a(href='list.html') List  Group
                li
                  a(href='nav.html') Nav
                li
                  a(href='subnav.html') Subnav
                li
                  a(href='panel.html') Panel
                li
                  a(href='breadcrumb.html') Breadcrumb
                li
                  a(href='pagination.html') Pagination
                li
                  a(href='progress.html') Progress
                li
                  a(href='search.html') Search




            li
              a(href='javascript://;') Js Components
                i.i-chevron-down
              ul
                li
                  a(href='tabs.html') Tabs & Accordions
                li
                  a(href='herotabs.html') Hero Tabs & Sliders
                li
                  a(href='sliders.html') Sliders
                li
                  a(href='offcanvas.html') Responsive Offcanvas
                li
                  a(href='colorpicker.html') ColorPicker
                li
                  a(href='modal.html') Modal
                li
                  a(href='datepicker.html') DateTime Picker
            li
              a(href='javascript://;') About
                i.i-chevron-down
              ul
                li
                  a(href="https://github.com/speedovation/wall/") GitHub
                li
                  a(href='about-framework.html') Framework
                li
                  a(href='about-team.html') Team
                li
                  a(href='about-credit.html') Credit
                li
                  a(href='about-license.html') Licences



.hidden.preview-template.preview-wrap 
  ul.resp-tabs-list
    li Example Preview
    li Html Code
  .resp-tabs-container
    div
      .preview
      
        
    div
      pre.markup
        code.language-markup
