!!! 5
html
  head
    title Typography

    include header

  body

    include _nav
   
    .grid
      .row  
        .desktop-12.tablet-6.mobile-3.example
          

          h1 Header h1
          h2 Header h2
          h3 Header h3
          h4 Header h4
          h5 Header h5
          h6 Header h6

          h2 Added Styles
          p
            a(href='#') Anchor Tag 
            | , 
            abbr(title='Abbreviation') abbr 
            | , 
            strong bold
            | , 
            em italic
            | , 
            code code
            | , 
            del deleted
            | , 
            ins inserted
            | , 
            kbd Keyboard
            | , 
            sup sup
            | and 
            sub sub  
