!!! 5
html
  head
    title Grids - Speedovation Responsive framework

    include header

  body

    include _nav
   

    .row.example
        h1.welcome Welcome in Superactive . Relax , We've already done it for you

          

        //demo 1

        mixin span_text(l,d,t,m)
          span.span_l large #{d}
          span.span_d desktop #{d}
          span.span_t tablet #{t}
          span.span_m mobile #{m}


        h2 Asymmetrical
        .row
          .large-4.desktop-3.tablet-6.mobile-8
            +span_text('4','3','6','8')

          .large-8.desktop-9.tablet-6.mobile-4
            +span_text('8','9','6','4')

        .row
            .large-4.desktop-3.tablet-12.mobile-12
                +span_text('4','3','12','12')

            .large-8.desktop-9.tablet-12.mobile-12
                +span_text('8','9','12','12')

        h2 Symmetrical
        .row
          .large-3.desktop-3.tablet-3.mobile-3
            +span_text('3','3','3','3')

          .large-3.desktop-3.tablet-3.mobile-3
            +span_text('3','3','3','3')

          .large-3.desktop-3.tablet-3.mobile-3
            +span_text('3','3','3','3')

          .large-3.desktop-3.tablet-3.mobile-3
            +span_text('3','3','3','3')

        h2 Column

        .row
          .large-4.desktop-4.tablet-4.mobile-4
              +span_text('4','4','4','4')
          .large-4.desktop-4.tablet-4.mobile-4
              +span_text('4','4','4','4')
          .large-4.desktop-4.tablet-4.mobile-4
              +span_text('4','4','4','4')

        h2 Universal responsive class
        p Just use .col if you want

        .row
            .col-4
                +span_text('4','4','4','4')
            .col-4
                +span_text('4','4','4','4')
            .col-4
                +span_text('4','4','4','4')

        h2 Collapse row
        p No margin between columns . Add <code>.width-per-*</code> where * is width in percentage.
        p Its universal and responsive.

        .row
            .width-per-33
                +span_text('4','4','4','4')
            .width-per-33
                +span_text('4','4','4','4')
            .width-per-33
                +span_text('4','4','4','4')

  //      h2 Push
  //
  //      .row
  //        .desktop-4.desktop-push-4.tablet-2.tablet-push-2.mobile-2.mobile-push-1
  //          +span_text('push 4','push 2','push 1')
  //
  //      .row
  //        .desktop-4.desktop-push-2.tablet-2.tablet-push-1.mobile-1
  //          +span_text('push 2','push 1','1')
  //
  //        .desktop-4.tablet-2.mobile-1
  //          +span_text('4','2','1')
  //
  //      .row
  //        .desktop-12.tablet-6.mobile-3
  //          +span_text('12','6','3')
  //
  //
  //      h2 Padded
  //
  //      .row
  //        .desktop-4.tablet-2.mobile-1.padded(style="background:#f6f6f6")
  //          +span_text('4','2','1')
  //
  //        .desktop-8.tablet-4.mobile-2.padded
  //          +span_text('8','4','2')
  //
  //      h2 Contained
  //
  //      .row
  //        .desktop-4.tablet-2.mobile-1.contained(style="background:#f6f6f6")
  //          +span_text('4','2','1')
  //
  //        .desktop-8.tablet-4.mobile-2.contained
  //          +span_text('8','4','2')
  //
  //
  //
  //
  //