//- layout.jade
doctype html
html
  head
    block title
      title Default title
      
      
    include header
    
    

  body
  
    include _nav
    
    
    .grid
      .row

        .mobile-12.tablet-12.desktop-3.large-3
          
          block leftcontent
          
          h3 Css Components 
          ul.link-list
            li
              a(href='grid.html') Grid
            li
              a(href='tables.html') Tables
            li
              a(href='forms.html') Forms
            li
              a(href='buttons.html') Buttons
        
        
            li
              a(href='tooltips.html') Tooltips
            li
              a(href='messages.html') Messages
            li
              a(href='badge.html') Badges
            li
              a(href='thumbnail.html') Thumbnail
        
            li
              a(href='navbar.html') Navbar
            li
              a(href='list.html') List  Group
            li
              a(href='nav.html') Nav
            li
              a(href='subnav.html') Subnav
            li
              a(href='panel.html') Panel
            li
              a(href='breadcrumb.html') Breadcrumb
            li
              a(href='pagination.html') Pagination
            li
              a(href='progress.html') Progress
            li
              a(href='search.html') Search

        
        
        .mobile-12.tablet-12.desktop-9.large-9
          block content
