extends ./layout.jade

block title
  title Search

block leftcontent
  h3 &nbsp; 
  - var items = [ "Usage"]
  +top_left(vals)
   
block content

  h2.divide-section Search

  p.info Easily create a nicely looking search.
  
  h2#Usage Usage
  
  p The Search component consists of the search field itself and a close button.

  table.table.rounded.zebra.bordered
    thead
      tr
        th Class
        th Description
    tbody
      tr
        td
          code .search
        td
          | Add this class to a 
          code= "<form>"
          |  element to define the Search component.
      tr
        td
          code .search-field
        td
          | Add this class to an 
          code= "<input>"
          |  element to create the search field.
      tr
        td
          code .search-close
        td
          | Add this class to a 
          code= "<button>"
          |  element to create a close button, resetting the search input.
  p
    | To enable the necessary JavaScript for the search, just add the 
    code data-search
    |  attribute.
  
  .preview-box
    form.search(data-search='')
      .field
        input.input.width-per-35(placeholder='search...', type='search')
        button.button.append.right(type='reset')
          i.i-search
        
    
  
  //- hr
  //- h2 Search in navbars
  //- p
  //-   | A search can be used inside a Navbar from the
  //-   a(href='navbar.html') Navbar component
  //-   | .
  
  //- .preview-box
  //-   nav.navbar
  //-     .navbar-flip
  //-       .navbar-content
  //-         form.search(data-search='{flipDropdown:true, source:"../vendor/searchresults.json"}')
  //-           input.search-field(placeholder='search...', type='search')
  //-           button.search-close(type='reset')
    
