doctype html
html
  head
    meta(charset='utf-8')
    title Slide
    
    include header

    script(type='text/javascript', src='dist/js/components/slider.js')
    link(href='dist/css/components/slider.css', rel='stylesheet', type='text/css')
    
    style().
      
   
      .main {
      float: left;
      width: 100%;
      margin: 0 auto;
      background: #161923;
      }
   
      .clear {
      width: auto;
      }
      
 
      
      .page_container {
      max-width: 960px;
      margin: 50px auto;
      }

      .immersive_slider .is-slide .content h2{
      line-height: 140%;
      font-weight: 100;
      color: white;
      font-weight: 100;
      }
      .immersive_slider .is-slide .content a {
      color: white;
      }
      .immersive_slider .is-slide .content p{
      float: left;
      font-weight: 100;
      width: 100%;
      font-size: 17px;
      margin-top: 5px;
      }
  body
    include _nav

    .grid
      .desktop-12.tablet-6.mobile-3
        
        h2.divide-section Slider
        
        .main
          .page_container
            #immersive_slider
              .slide(data-blurred='dist/img/sliders/slide1_blurred.jpg')
                .content
                  h2
                    a(href='http://www.bucketlistly.com', target='_blank') BucketListly
                  p
                    | It’s never been easier to watch YouTube on the big screen
                    | Send your favorite YouTube videos from your Android phone or tablet to TV with the touch of a button. It’s easy. No wires, no setup, no nothing. Find out more here.
                .image
                  a(href='http://www.bucketlistly.com', target='_blank')
                    img(src='img/slide1.jpg', alt='Slider 1')
              .slide(data-blurred='img/slide2_blurred.jpg')
                .content
                  h2
                    a(href='http://www.bucketlistly.com/apps', target='_blank') BucketListly Apps
                  p
                    | It’s never been easier to watch YouTube on the big screen
                    | Send your favorite YouTube videos from your Android phone or tablet to TV with the touch of a button. It’s easy. No wires, no setup, no nothing. Find out more here.
                .image
                  a(href='http://www.bucketlistly.com/apps', target='_blank')
                    img(src='img/slide2.jpg', alt='Slider 2')
              .slide(data-blurred='img/slide3_blurred.jpg')
                .content
                  h2
                    a(href='http://www.thepetedesign.com', target='_blank') The Pete Design
                  p
                    | It’s never been easier to watch YouTube on the big screen
                    | Send your favorite YouTube videos from your Android phone or tablet to TV with the touch of a button. It’s easy. No wires, no setup, no nothing. Find out more here.
                .image
                  a(href='http://www.thepetedesign.com', target='_blank')
                    img(src='img/slide3.jpg', alt='Slider 3')
              a.is-prev(href='#') «
              a.is-next(href='#') »
        


        script(type='text/javascript')
          $(document).ready( function() {
            $("#immersive_slider").immersive_slider({
                container: ".main"
             });
          });
      
