doctype html
html
  head
    title Cutting Deals
    
    include header
    
    link(href='../css/tabs.css', rel='stylesheet', type='text/css', media='screen')
    
  body

    include _nav

    .mainContainer
      .htmltabs 
        h2 West or RightSide Tabs 
        ul.tabs
          li.tab1
            a.tab1.tab  Home
          li.tab2
            a.tab2.tab  About
          li.tab3
            a.tab3.tab
              | Blog
          li.tab4
            a.tab4.tab
              | Career
          li.tab5
            a.tab5.tab
              | Contact
          li.tab6
            a.tab6.tab
              | News
          li.tab7
            a.tab7.tab
              | Events
        // tab 1 
        .tab1.tabsContent
          div Home content goes here!
        // end of t1 
        // tab 2 
        .tab2.tabsContent
          div About content goes here!
        // end of t2 
        // tab 3 
        .tab3.tabsContent
          div Blog content goes here!
        // end of t3 
        // tab 4 
        .tab4.tabsContent
          div Career content goes here!
        // end of t4 
        // tab 5 
        .tab5.tabsContent
          div Contact content goes here!
        // end of t5 
        // tab 6 
        .tab6.tabsContent
          div News content goes here!
        // end of t6 
        // tab 7 
        .tab7.tabsContent
          div Events content goes here!



      .htmltabs 
        h2 North or Top tabs 
        ul.northtabs
          li.tab1
            a.tab1.tab  Home
          li.tab2
            a.tab2.tab  About
          li.tab3
            a.tab3.tab
              | Blog
          li.tab4
            a.tab4.tab
              | Career
          li.tab5
            a.tab5.tab
              | Contact
          li.tab6
            a.tab6.tab
              | News
          li.tab7
            a.tab7.tab
              | Events
        // tab 1 
        .tab1.tabsContent
          div Home content goes here!
        // end of t1 
        // tab 2 
        .tab2.tabsContent
          div About content goes here!
        // end of t2 
        // tab 3 
        .tab3.tabsContent
          div Blog content goes here!
        // end of t3 
        // tab 4 
        .tab4.tabsContent
          div Career content goes here!
        // end of t4 
        // tab 5 
        .tab5.tabsContent
          div Contact content goes here!
        // end of t5 
        // tab 6 
        .tab6.tabsContent
          div News content goes here!
        // end of t6 
        // tab 7 
        .tab7.tabsContent
          div Events content goes here!    
        // end of t7 
      // tabbed ends here
    // mainContainer ends here
    // Javascript files 
    script(type='text/javascript', src='../js/jquery.js')
    script(type='text/javascript', src='../js/tabs.js')
    // Javascript files ends from here 
