extends ./layout.jade

block title
  title Tooltips 

block leftcontent
 h3 &nbsp; 
 - var items = [ "Usage"]
 +top_left(items)
 

block content

  h1.divide-section Tooltips

  p.info Basic Tooltips
  

  h2#Usage Usage


  .row
    .preview-box
   
      .desktop-12.tablet-6.mobile-3
  
        a.tooltip
          |Link tooltip
          span 
            |Link tooltip and for you  
    
      .desktop-12.tablet-6.mobile-3
  
        div.tooltip
          |Div Tooltip
          span 
            |Div tooltip and for you  
  
  
