doctype html
html
    head
        title Cutting Deals
        include header
        link(href='../css/tabs.css', rel='stylesheet', type='text/css', media='screen')
    body
        include _nav

        div.row
            div.desktop-4
                | One
            div.desktop-2
                | Two
            div.desktop-6
                | Three