/* ========================================================================
Component: Breadcrumb
========================================================================== */
/*
* 1. Remove default list style
* 2. Remove whitespace between child elements when using `inline-block`
*/
.breadcrumb {
/* 1 */
  padding: 0;
  list-style: none;
/* 2 */
  letter-spacing: -0.31em;
}
/* Items
========================================================================== */
/*
* Reset whitespace hack
*/
.breadcrumb > li {
  letter-spacing: normal;
}
.breadcrumb > li,
.breadcrumb > li > a,
.breadcrumb > li > span {
  display: inline-block;
}
.breadcrumb > li:nth-child(n+2):before {
  content: "/";
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
/* 2 */
}
/*
* Disabled
*/
.breadcrumb > li:not(.active) > span {
  color: #999;
}
