a.side-menu-link {
  display: block;
  width: 20px;
  margin-bottom: 1rem;
}
a.side-menu-link.active {
  color: #f00;
}
@media screen and (max-width: 768px) {
  .oc-hidden,
  .oc-nav {
    display: none;
  }
  .oc-nav-show {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  a.side-menu-link {
    display: none;
  }
}
