//@import "../_funcs"

//site helpers

.header
    font-size: 1.3rem;
    padding: 2em 1.2rem;
    margin-bottom 3rem
    //text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

.footer,footer
    border-top: 1px solid #ddd
    color: #777777
    margin-top: convert-size(96,"px")
    padding-bottom: convert-size(32,"px")
    padding-top: convert-size(42,"px")


