// Navbar 
@import "../_funcs"


nav_bg_top = #fbfbfb
nav_bg_bottom = #efefef 

border-color = #DDDDDD

a_hover_bg_top = #fcfcfc
a_hover_bg_bottom = #f8f8f8 
a_hover_color = #222 

$nav_text= #565656

$top_level= #a6a6a2
$second_level= #b2b2af
$third_level= #bfbfbc
$fourth_level= #cbcbc9


nav
  grad(nav_bg_top,nav_bg_bottom)
  border: 1px solid border-color;
  margin-top: 2rem;
  margin-bottom: 2rem;
  //border-radius(4px)
  box-shadow(0 1px 4px rgba(0, 0, 0, 0.077))

  .field
    padding: 0.5rem 1rem

.flexnav 
  
  -webkit-transition: none
  -moz-transition: none
  -ms-transition: none
  transition: none
  -webkit-transform-style: preserve-3d // stop webkit flicker
  overflow: hidden
  margin: 0
  padding 0
  width: 100%
  max-height: 0
  margin 0

  i
    font-size: 0.6rem
    margin-left: 0.5rem
    float right

  h4
    padding: 0.25rem 1rem;  
  
  &.opacity 
    opacity: 0
  
    
  &.flexnav-show 
    max-height: 2000px
    opacity: 1
    -webkit-transition: all .5s ease-in-out
    -moz-transition: all .5s ease-in-out
    -ms-transition: all .5s ease-in-out
    transition: all .5s ease-in-out
  
  &.one-page 
    position: fixed
    top: convert-size(50,"px")
    right: 5%
    max-width: convert-size(200,"px")
      
    
  ul 
    margin 0  
    padding 0  

    li 
      font-size: 1rem
      position: relative
      overflow: hidden
      margin 0

    
      a 
        position: relative
        display: block
        padding: 0.96rem 1.2rem
        z-index: 2
        overflow: hidden
        outline 0
        color: $nav_text
        &:hover, &:active
          color: a_hover_color
        
      ul 
        margin 0 
        padding 0.8rem 0
        outline 0
        background-color nav_bg_bottom
        border: 1px solid border-color;
        border-left-color transparent
        //border-radius(0 0 4px 4px)
        width: 130%;
        box-shadow(0px 2px 2px rgba(0, 0, 0, 0.05))
        z-index 4

        li 
          font-size: 0.85rem
          position: relative
          overflow: visible

          a
            padding: 0.76rem 1rem
            border-top 1px solid transparent
            border-bottom 1px solid transparent
            &:hover,&:active
              grad(a_hover_bg_top,a_hover_bg_bottom)
              border-top 1px solid border-color
              border-bottom 1px solid border-color

          ul
            border: 1px solid border-color;       
      
    
    ul.flexnav-show li 
      overflow: visible
        
      
    li ul li a 
        display: block

    // ul li ul li a 
    //     //background: $third_level
    
    // ul li ul li ul li a 
    //    // background: $fourth_level
    
.menu-button 
  padding: 0.4rem 1rem;
  position: relative;
  text-align: right;
  display: block
  color: $nav_text
  cursor: pointer
  
  i
    font-size: 1.1rem;
    
@media all and (min-width: 800px) 
    body.one-page 
        padding-top: convert-size(70,"px")
    
    nav
      height: 3.2rem;

    .flexnav
      
      div
       float right
      i 
        float none
      h4
        display: inline-block;
        float: left;
        padding: 0.25rem 1rem;

      
      overflow: visible
      &.opacity 
        opacity: 1
      
      &.one-page 
        top: 0
        right: auto
        max-width: 1080px
      
      ul  
        li 
          position: relative
          list-style: none
          float: left
          display: block 
          overflow: visible
          //width: convert-size(160,"px")
        
        li a 
          //border-right: 0px solid #dedede
          //border-bottom: none
        
        //li:first-child a
        //    border-left none

        li > ul 
          position: absolute 
          top: auto
          left: -1px
          border-top none
          border-left-color border-color
            
          li 
            width: 100%
            
        
        li ul li > ul 
            margin-left: 100%
            top: 0
        
        //li ul li:hover > ul,
        //li ul li > ul.flexnav-show 
        //nothing definded here

        //li ul li a 
        //    //border-bottom: none
        
        li ul.open 
          display: block
          opacity: 1
          visibility: visible
          z-index: 1
          li 
              overflow: visible
              max-height: 100px
             
          ul.open 
              margin-left: 100%
              top: 0
            
        
    
    .menu-button 
        display: none
    


// .oldie 
//   body.one-page 
//     padding-top: convert-size(70,"px")
  
//   .flexnav 
//     ul
//       overflow: visible
//       &.one-page 
//         top: 0
//         right: auto
//         max-width: 1080px
      
//       li 
//         position: relative
//         list-style: none
//         float: left
//         display: block 
//         background-color: #a6a6a2  
//         width: convert-size(80,"px")
//         min-height: convert-size(50,"px")
//         overflow: visible
      
//       li:hover > ul  
//         display: block
//         width: 100%
//         overflow: visible
//         li 
//           width: 100%
//           float: none
          
      
//       li a 
//         border-left: 1px solid #acaca1
//         border-bottom: none
//         overflow: visible  
      
//       li > ul 
//         background:#acaca1
//         position: absolute 
//         top: auto
//         left: 0
//         display: none
//         z-index: 1
//         overflow: visible
      
//       li ul li ul  
//         top: 0     
      
//       li ul li a 
//         border-bottom: none
      
//       li ul.open 
//         display: block
//         width: 100%
//         overflow: visible
//         li 
//           width: 100%
        
//         ul.open 
//           margin-left: 100%
//           top: 0
//           display: block
//           width: 100%
//           overflow: visible
          
      
//       ul li:hover ul 
//         margin-left: 100%
//         top: 0
        
  
//   .menu-button 
//     display: none
  
//   &.ie7 .flexnav li 
//     width: 19.9%
  
